config SND_SOC_QCOM
	tristate "SoC Audio support for QCOM platforms"
	help
          Support for audio in Qualcomm Technologies SOC-based systems.
          Say Y if you want to use audio devices such as I2S, PCM,
          S/PDIF, etc.

config SND_SOC_LPASS_CPU
	tristate
	depends on SND_SOC_QCOM

config SND_SOC_IPQ806X
	tristate "SoC Audio support for IPQ806x based platforms"
	depends on SND_SOC_QCOM || ARCH_QCOM || COMPILE_TEST
        select SND_SIMPLE_CARD
	select SND_SOC_LPASS_CPU
	select SND_SOC_LPASS_PLATFORM
        select SND_SOC_MAX98357A
	help
          Support for Qualcomm Technologies LPASS audio block in
          IPQ806X SOC-based systems.
          Say Y if you want to use audio devices such as I2S, PCM,
          S/PDIF, etc.

config SND_SOC_LPASS_PLATFORM
	tristate
	depends on SND_SOC_QCOM
