# CONFIG_BUILD_BIN2C is not set
# CONFIG_CGROUP_CPUACCT is not set
# CONFIG_CGROUP_DEVICE is not set
# CONFIG_CGROUP_FREEZER is not set
# CONFIG_CGROUP_SCHED is not set
# CONFIG_CPUSETS is not set
# CONFIG_IKCONFIG is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_KEYS is not set
# CONFIG_MODULE_FORCE_LOAD is not set
# CONFIG_MODULE_FORCE_UNLOAD is not set
CONFIG_MOTORCOMM_PHY=y
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_PM_DEBUG is not set
CONFIG_RK_HEADSET=y
CONFIG_ROCKCHIP_REMOTECTL=y
CONFIG_ROCKCHIP_RGA=y
# CONFIG_ROCKCHIP_RGA2 is not set
CONFIG_SENSOR_DEVICE=y
# CONFIG_SERIAL_OF_PLATFORM is not set
# CONFIG_SPI_SPIDEV is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_ELAN is not set
# CONFIG_TOUCHSCREEN_GSL3673 is not set
# CONFIG_TOUCHSCREEN_GSLX680_D708 is not set
CONFIG_TOUCHSCREEN_GT1X=y
# CONFIG_TOUCHSCREEN_GT9XX is not set
# CONFIG_TOUCHSCREEN_USB_COMPOSITE is not set
# CONFIG_USB_ACM is not set
# CONFIG_USB_EZUSB_FX2 is not set
# CONFIG_USB_SERIAL is not set
# CONFIG_V4L_TEST_DRIVERS is not set
# CONFIG_VIDEO_ADV7181D is not set
CONFIG_VIDEO_GC2145=y
# CONFIG_VIDEO_GC2355 is not set
# CONFIG_VIDEO_IMX219 is not set
# CONFIG_VIDEO_OV13850 is not set
# CONFIG_VIDEO_OV5647 is not set
# CONFIG_VIDEO_ROCKCHIP_ISP1 is not set
# CONFIG_VIDEO_SC031GS is not set
# CONFIG_VIDEO_TC35874X is not set
# CONFIG_VIDEO_VM149C is not set
CONFIG_WIFI_GENERATE_RANDOM_MAC_ADDR=y
# CONFIG_ANGLE_DEVICE is not set
# CONFIG_BMA2XX_ACC is not set
# CONFIG_COMPASS_DEVICE is not set
CONFIG_GSENSOR_DEVICE=y
# CONFIG_GS_BMA023 is not set
# CONFIG_GS_DMT10 is not set
# CONFIG_GS_KXTIK is not set
# CONFIG_GS_KXTJ9 is not set
# CONFIG_GS_LIS3DH is not set
# CONFIG_GS_LSM303D is not set
# CONFIG_GS_MC3230 is not set
CONFIG_GS_MMA7660=y
# CONFIG_GS_MMA8452 is not set
# CONFIG_GS_MXC6225 is not set
# CONFIG_GS_MXC6655XA is not set
# CONFIG_GYROSCOPE_DEVICE is not set
# CONFIG_HALL_DEVICE is not set
# CONFIG_LIGHT_DEVICE is not set
# CONFIG_LSM330_ACC is not set
# CONFIG_MPU6500_ACC is not set
# CONFIG_MPU6880_ACC is not set
# CONFIG_PRESSURE_DEVICE is not set
# CONFIG_PROXIMITY_DEVICE is not set
CONFIG_ROCKCHIP_REMOTECTL_PWM=y
# CONFIG_STK8BAXX_ACC is not set
# CONFIG_TEMPERATURE_DEVICE is not set
