# CONFIG_ALLOW_DEV_COREDUMP is not set
# CONFIG_AP6XXX is not set
# CONFIG_ASHMEM is not set
# CONFIG_BATTERY_SBS is not set
CONFIG_BLK_CMDLINE_PARSER=y
# CONFIG_BLK_DEV_IO_TRACE is not set
# CONFIG_BT is not set
# CONFIG_BUILD_BIN2C is not set
# CONFIG_CGROUP_CPUACCT is not set
# CONFIG_CGROUP_DEVICE is not set
# CONFIG_CGROUP_FREEZER is not set
# CONFIG_CGROUP_SCHED is not set
# CONFIG_CHARGER_BQ24735 is not set
# CONFIG_CHARGER_GPIO is not set
# CONFIG_CHROME_PLATFORMS is not set
CONFIG_CMDLINE_PARTITION=y
# CONFIG_CPUSETS is not set
# CONFIG_CPU_RK3036 is not set
# CONFIG_CPU_RK30XX is not set
# CONFIG_CPU_RK3188 is not set
# CONFIG_CPU_RK322X is not set
# CONFIG_CPU_RK3288 is not set
# CONFIG_CRC7 is not set
# CONFIG_CRC_ITU_T is not set
# CONFIG_CRC_T10DIF is not set
# CONFIG_CRYPTO_CMAC is not set
# CONFIG_CRYPTO_CRCT10DIF is not set
# CONFIG_CRYPTO_ECB is not set
# CONFIG_CRYPTO_HW is not set
# CONFIG_CRYPTO_MICHAEL_MIC is not set
# CONFIG_CRYPTO_SHA512 is not set
# CONFIG_CRYPTO_USER_API_HASH is not set
# CONFIG_CRYPTO_USER_API_SKCIPHER is not set
# CONFIG_DEBUG_CREDENTIALS is not set
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_RODATA is not set
# CONFIG_DEBUG_SET_MODULE_RONX is not set
# CONFIG_DEBUG_SPINLOCK is not set
CONFIG_DEFAULT_IOSCHED="noop"
CONFIG_DEFAULT_NOOP=y
# CONFIG_DETECT_HUNG_TASK is not set
# CONFIG_DRM_DUMB_VGA_DAC is not set
# CONFIG_DRM_UDL is not set
# CONFIG_DST_CACHE is not set
# CONFIG_ETHERNET is not set
# CONFIG_FB_MODE_HELPERS is not set
# CONFIG_FIQ_DEBUGGER_TRUST_ZONE is not set
# CONFIG_FIRMWARE_IN_KERNEL is not set
# CONFIG_FUNCTION_TRACER is not set
# CONFIG_HFSPLUS_FS is not set
# CONFIG_HID_APPLE is not set
# CONFIG_HID_BATTERY_STRENGTH is not set
# CONFIG_HID_CHERRY is not set
# CONFIG_HID_KENSINGTON is not set
# CONFIG_HID_LOGITECH is not set
# CONFIG_HID_MAGICMOUSE is not set
# CONFIG_HID_MICROSOFT is not set
# CONFIG_HID_MULTITOUCH is not set
# CONFIG_HID_PLANTRONICS is not set
# CONFIG_HID_PRIMAX is not set
# CONFIG_HID_RMI is not set
# CONFIG_HOSTAP is not set
# CONFIG_HWMON is not set
# CONFIG_I2C_HID is not set
# CONFIG_I2C_STUB is not set
# CONFIG_IKCONFIG is not set
# CONFIG_INPUT_FF_MEMLESS is not set
# CONFIG_INPUT_JOYDEV is not set
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_MATRIXKMAP is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_INPUT_UINPUT is not set
# CONFIG_IOMMU_HELPER is not set
# CONFIG_IOSCHED_CFQ is not set
# CONFIG_IOSCHED_DEADLINE is not set
# CONFIG_IPV6 is not set
# CONFIG_ISO9660_FS is not set
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_LZ4=y
# CONFIG_KEYBOARD_GPIO is not set
# CONFIG_KEYBOARD_GPIO_POLLED is not set
# CONFIG_KEYS is not set
# CONFIG_LIB80211 is not set
# CONFIG_LKDTM is not set
# CONFIG_LOCKUP_DETECTOR is not set
# CONFIG_MAC80211_DEBUGFS is not set
# CONFIG_MAC80211_DEBUG_MENU is not set
# CONFIG_MAC_PARTITION is not set
# CONFIG_MALI_MIDGARD is not set
# CONFIG_MEDIA_CEC_SUPPORT is not set
# CONFIG_MEDIA_USB_SUPPORT is not set
# CONFIG_MFD_CROS_EC is not set
# CONFIG_MFD_TPS6586X is not set
# CONFIG_MFD_TPS65910 is not set
# CONFIG_MMC_TEST is not set
# CONFIG_MODULE_FORCE_LOAD is not set
# CONFIG_MODULE_FORCE_UNLOAD is not set
# CONFIG_MOUSE_CYAPA is not set
# CONFIG_MOUSE_ELAN_I2C is not set
CONFIG_MTD=y
# CONFIG_MWIFIEX is not set
# CONFIG_NETFILTER is not set
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_NET_IP_TUNNEL is not set
# CONFIG_NET_KEY is not set
# CONFIG_NET_PTP_CLASSIFY is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_NL80211_TESTMODE is not set
# CONFIG_NLS_ASCII is not set
CONFIG_NLS_DEFAULT="iso8859-1"
# CONFIG_NLS_UTF8 is not set
# CONFIG_NVMEM is not set
# CONFIG_PHYLIB is not set
# CONFIG_PHY_ROCKCHIP_DP is not set
# CONFIG_PHY_ROCKCHIP_INNO_VIDEO_PHY is not set
# CONFIG_PHY_ROCKCHIP_USB is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_POWER_RESET_GPIO_RESTART is not set
# CONFIG_PPS is not set
# CONFIG_PTP_1588_CLOCK is not set
# CONFIG_RD_XZ is not set
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_RELAY is not set
CONFIG_RK_CONSOLE_THREAD=y
CONFIG_RK_HEADSET=y
# CONFIG_RK_NAND is not set
# CONFIG_RK_PARTITION is not set
# CONFIG_ROCKCHIP_ANALOGIX_DP is not set
# CONFIG_ROCKCHIP_DRM_TVE is not set
# CONFIG_ROCKCHIP_DW_HDMI is not set
# CONFIG_ROCKCHIP_INNO_HDMI is not set
CONFIG_ROCKCHIP_RGA=y
# CONFIG_ROCKCHIP_RGA2 is not set
# CONFIG_ROCKCHIP_RK3066_HDMI is not set
# CONFIG_RT2X00 is not set
# CONFIG_RTC_DRV_HYM8563 is not set
# CONFIG_RTL8188EU is not set
# CONFIG_RTL8723DS is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SECURITY is not set
# CONFIG_SECURITYFS is not set
# CONFIG_SENSORS_ISL29018 is not set
# CONFIG_SENSORS_TSL2563 is not set
CONFIG_SENSOR_DEVICE=y
# CONFIG_SERIAL_8250_DEPRECATED_OPTIONS is not set
# CONFIG_SERIAL_OF_PLATFORM is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_SND_RAWMIDI_SEQ is not set
# CONFIG_SND_SOC_CX20810 is not set
# CONFIG_SND_SOC_ES8323 is not set
# CONFIG_SND_SOC_ES8396 is not set
# CONFIG_SND_SOC_ROCKCHIP_MAX98090 is not set
# CONFIG_SND_SOC_ROCKCHIP_MULTICODECS is not set
# CONFIG_SND_SOC_ROCKCHIP_RT5645 is not set
# CONFIG_SND_SOC_RT5616 is not set
# CONFIG_SND_SOC_RT5640 is not set
# CONFIG_SND_SOC_TS3A227E is not set
# CONFIG_SND_USB_AUDIO is not set
# CONFIG_SPI_SPIDEV is not set
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
# CONFIG_SQUASHFS_DECOMP_SINGLE is not set
# CONFIG_SWIOTLB is not set
# CONFIG_TCG_TPM is not set
# CONFIG_TEST_UDELAY is not set
# CONFIG_TMPFS_POSIX_ACL is not set
# CONFIG_TMPFS_XATTR is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_ELAN is not set
# CONFIG_TOUCHSCREEN_GSL3673 is not set
# CONFIG_TOUCHSCREEN_GSLX680_D708 is not set
CONFIG_TOUCHSCREEN_GT1X=y
# CONFIG_TOUCHSCREEN_GT9XX is not set
# CONFIG_TOUCHSCREEN_USB_COMPOSITE is not set
# CONFIG_TSL2583 is not set
# CONFIG_UDF_FS is not set
# CONFIG_USB_ACM is not set
# CONFIG_USB_ANNOUNCE_NEW_DEVICES is not set
# CONFIG_USB_CONFIGFS_ACM is not set
CONFIG_USB_DEFAULT_PERSIST=y
# CONFIG_USB_EHCI_ROOT_HUB_TT is not set
# CONFIG_USB_EZUSB_FX2 is not set
# CONFIG_USB_HIDDEV is not set
# CONFIG_USB_MON is not set
# CONFIG_USB_NET_RNDIS_WLAN is not set
# CONFIG_USB_OTG is not set
# CONFIG_USB_PEGASUS is not set
# CONFIG_USB_RTL8150 is not set
# CONFIG_USB_RTL8152 is not set
# CONFIG_USB_SERIAL is not set
# CONFIG_USB_USBNET is not set
# CONFIG_USB_WDM is not set
# CONFIG_USELIB is not set
# CONFIG_V4L_TEST_DRIVERS is not set
# CONFIG_VIDEO_ADV7181D is not set
CONFIG_VIDEO_GC2145=y
# CONFIG_VIDEO_GC2355 is not set
# CONFIG_VIDEO_IMX219 is not set
# CONFIG_VIDEO_OV13850 is not set
# CONFIG_VIDEO_OV5647 is not set
# CONFIG_VIDEO_ROCKCHIP_ISP1 is not set
# CONFIG_VIDEO_SC031GS is not set
# CONFIG_VIDEO_TC35874X is not set
# CONFIG_VIDEO_VM149C is not set
CONFIG_WIFI_GENERATE_RANDOM_MAC_ADDR=y
# CONFIG_XZ_DEC is not set
# CONFIG_XZ_DEC_BCJ is not set
# CONFIG_ANGLE_DEVICE is not set
# CONFIG_BMA2XX_ACC is not set
# CONFIG_COMPASS_DEVICE is not set
CONFIG_ENABLE_DEFAULT_TRACERS=y
# CONFIG_FTL is not set
CONFIG_GSENSOR_DEVICE=y
# CONFIG_GS_BMA023 is not set
# CONFIG_GS_DMT10 is not set
# CONFIG_GS_KXTIK is not set
# CONFIG_GS_KXTJ9 is not set
# CONFIG_GS_LIS3DH is not set
# CONFIG_GS_LSM303D is not set
# CONFIG_GS_MC3230 is not set
CONFIG_GS_MMA7660=y
# CONFIG_GS_MMA8452 is not set
# CONFIG_GS_MXC6225 is not set
# CONFIG_GS_MXC6655XA is not set
# CONFIG_GYROSCOPE_DEVICE is not set
# CONFIG_HALL_DEVICE is not set
# CONFIG_INFTL is not set
CONFIG_INLINE_READ_UNLOCK=y
CONFIG_INLINE_READ_UNLOCK_IRQ=y
CONFIG_INLINE_SPIN_UNLOCK_IRQ=y
CONFIG_INLINE_WRITE_UNLOCK=y
CONFIG_INLINE_WRITE_UNLOCK_IRQ=y
# CONFIG_JFFS2_FS is not set
# CONFIG_LIGHT_DEVICE is not set
# CONFIG_LSM330_ACC is not set
# CONFIG_MPU6500_ACC is not set
# CONFIG_MPU6880_ACC is not set
# CONFIG_MTD_ABSENT is not set
# CONFIG_MTD_AFS_PARTS is not set
# CONFIG_MTD_AR7_PARTS is not set
CONFIG_MTD_BLKDEVS=y
CONFIG_MTD_BLOCK=y
# CONFIG_MTD_BLOCK2MTD is not set
# CONFIG_MTD_CFI is not set
CONFIG_MTD_CFI_I1=y
CONFIG_MTD_CFI_I2=y
# CONFIG_MTD_CFI_I4 is not set
# CONFIG_MTD_CFI_I8 is not set
CONFIG_MTD_CMDLINE_PARTS=y
# CONFIG_MTD_COMPLEX_MAPPINGS is not set
# CONFIG_MTD_DATAFLASH is not set
# CONFIG_MTD_DOCG3 is not set
# CONFIG_MTD_JEDECPROBE is not set
# CONFIG_MTD_LPDDR is not set
# CONFIG_MTD_LPDDR2_NVM is not set
CONFIG_MTD_MAP_BANK_WIDTH_1=y
# CONFIG_MTD_MAP_BANK_WIDTH_16 is not set
CONFIG_MTD_MAP_BANK_WIDTH_2=y
# CONFIG_MTD_MAP_BANK_WIDTH_32 is not set
CONFIG_MTD_MAP_BANK_WIDTH_4=y
# CONFIG_MTD_MAP_BANK_WIDTH_8 is not set
# CONFIG_MTD_MTDRAM is not set
CONFIG_MTD_NAND=y
# CONFIG_MTD_NAND_BRCMNAND is not set
# CONFIG_MTD_NAND_DENALI_DT is not set
# CONFIG_MTD_NAND_DISKONCHIP is not set
# CONFIG_MTD_NAND_DOCG4 is not set
CONFIG_MTD_NAND_ECC=y
# CONFIG_MTD_NAND_ECC_BCH is not set
# CONFIG_MTD_NAND_ECC_SMC is not set
# CONFIG_MTD_NAND_GPIO is not set
# CONFIG_MTD_NAND_HISI504 is not set
CONFIG_MTD_NAND_IDS=y
# CONFIG_MTD_NAND_NANDSIM is not set
# CONFIG_MTD_NAND_OMAP_BCH_BUILD is not set
# CONFIG_MTD_NAND_PLATFORM is not set
CONFIG_MTD_NAND_ROCKCHIP_V6=y
# CONFIG_MTD_NAND_ROCKCHIP_V9 is not set
# CONFIG_MTD_OF_PARTS is not set
# CONFIG_MTD_ONENAND is not set
# CONFIG_MTD_OOPS is not set
CONFIG_MTD_PARTITIONED_MASTER=y
# CONFIG_MTD_PHRAM is not set
# CONFIG_MTD_PLATRAM is not set
# CONFIG_MTD_RAM is not set
# CONFIG_MTD_REDBOOT_PARTS is not set
# CONFIG_MTD_ROM is not set
# CONFIG_MTD_SLRAM is not set
# CONFIG_MTD_SM_COMMON is not set
# CONFIG_MTD_SPINAND_MT29F is not set
# CONFIG_MTD_SPI_NOR is not set
# CONFIG_MTD_SST25L is not set
# CONFIG_MTD_SWAP is not set
# CONFIG_MTD_TESTS is not set
CONFIG_MTD_UBI=y
CONFIG_MTD_UBI_BEB_LIMIT=20
CONFIG_MTD_UBI_BLOCK=y
# CONFIG_MTD_UBI_FASTMAP is not set
# CONFIG_MTD_UBI_GLUEBI is not set
CONFIG_MTD_UBI_WL_THRESHOLD=4096
# CONFIG_NFTL is not set
CONFIG_OF_MTD=y
# CONFIG_PRESSURE_DEVICE is not set
# CONFIG_PROXIMITY_DEVICE is not set
# CONFIG_RFD_FTL is not set
# CONFIG_SM_FTL is not set
# CONFIG_SSFDC is not set
# CONFIG_STK8BAXX_ACC is not set
# CONFIG_TEMPERATURE_DEVICE is not set
# CONFIG_UBIFS_ATIME_SUPPORT is not set
CONFIG_UBIFS_FS=y
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
CONFIG_UBIFS_FS_LZO=y
CONFIG_UBIFS_FS_ZLIB=y
