# CONFIG_ARM_ROCKCHIP_DMC_DEBUG is not set
# CONFIG_ARM_ROCKCHIP_DMC_DEVFREQ is not set
CONFIG_BATTERY_CW2015=y
# CONFIG_BLK_DEV is not set
# CONFIG_BT is not set
# CONFIG_DEBUG_GPIO is not set
# CONFIG_IIO is not set
# CONFIG_INPUT is not set
# CONFIG_MAILBOX is not set
# CONFIG_MFD_RK808 is not set
# CONFIG_MODULE_UNLOAD is not set
# CONFIG_MTD_UBI is not set
# CONFIG_NETDEVICES is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_NTFS_FS is not set
# CONFIG_OVERLAY_FS is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_PM_DEVFREQ_EVENT is not set
# CONFIG_PPS is not set
CONFIG_PSTORE_MCU_LOG=y
# CONFIG_PTP_1588_CLOCK is not set
# CONFIG_PWRSEQ_EMMC is not set
# CONFIG_PWRSEQ_SIMPLE is not set
# CONFIG_RFKILL is not set
CONFIG_ROCKCHIP_LOW_PERFORMANCE=y
# CONFIG_ROCKCHIP_MPP_RKVDEC is not set
# CONFIG_ROCKCHIP_MPP_VDPU2 is not set
# CONFIG_ROCKCHIP_SUSPEND_MODE is not set
CONFIG_RTC_DRV_HYM8563=y
# CONFIG_SCSI is not set
CONFIG_SCSI_MOD=y
# CONFIG_SOUND is not set
# CONFIG_SPI is not set
# CONFIG_SQUASHFS is not set
# CONFIG_USB is not set
CONFIG_USB_DWC3_GADGET=y
# CONFIG_VIDEO_OS04A10 is not set
CONFIG_VIDEO_OS04C10=y
# CONFIG_VIDEO_OV2718 is not set
# CONFIG_VIDEO_ROCKCHIP_CIF is not set
CONFIG_VIDEO_ROCKCHIP_THUNDER_BOOT_ISP=y
# CONFIG_WIRELESS is not set
# CONFIG_XZ_DEC is not set
