/*
 * Copyright (C) 2012 Imagination Technologies Ltd.
 * Copyright (C) 2014 Google, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/clock/pistachio-clk.h>

/ {
	model = "IMG Pistachio SoC";
	compatible = "img,pistachio-bub";

	#address-cells = <1>;
	#size-cells = <1>;

	interrupt-parent = <&gic>;

	chosen {
		bootargs = "console=ttyS0,115200n8 earlycon=uart8250,mmio32,0x18101500,115200 root=/dev/sda1 rootwait ro cros_debug clk_ignore_unused";
	};

	memory {
		device_type = "memory";
		reg =  <0x00000000 0x08000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "mti,interaptiv";
			reg = <0>;
			clocks = <&clk_core CLK_MIPS>;
		};
	};

	pinctrl: pinctrl@18101C00{
		compatible = "img,pistachio-pinctrl";

		reg = <0x18101C00 0x400>;

		interrupts = <GIC_SHARED 71 IRQ_TYPE_LEVEL_HIGH
			GIC_SHARED 72 IRQ_TYPE_LEVEL_HIGH
			GIC_SHARED 73 IRQ_TYPE_LEVEL_HIGH
			GIC_SHARED 74 IRQ_TYPE_LEVEL_HIGH
			GIC_SHARED 75 IRQ_TYPE_LEVEL_HIGH
			GIC_SHARED 76 IRQ_TYPE_LEVEL_HIGH>;

		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;

            pinctrl_uart1: pinctrl_uart1 {
                group = "uart1";
                function = "uart1";
            };

	    pinctrl_eth: pinctrl_eth {
                group = "eth";
                function = "eth";
		img,slew = <1>;
		img,drive = <1 1 1 1 1 1 1 1 2>;
            };
        };

	uart@18101500 {
		compatible = "snps,dw-apb-uart";
		reg = <0x18101500 0x100>;
		interrupts = <GIC_SHARED 25 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clk_core CLK_UART1>;
		clock-names = "baudclk";
		reg-shift = <2>;
		reg-io-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_uart1>;
	};

	ethernet@18140000 {
		compatible = "snps,dwmac";
		reg = <0x18140000 0x2000>;
		interrupts = <GIC_SHARED 50 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "macirq";
		clocks = <&clk_sys SYS_CLK_ENET>;
		clock-names = "stmmaceth";
		mac-address = [0123456789AB];
		phy-mode = "rmii";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_eth>;
	};

	usb@18120000 {
                compatible = "snps,dwc2";
                reg = <0x18120000 0x1C000>;
                interrupts = <GIC_SHARED 49 IRQ_TYPE_LEVEL_HIGH>;
        };

	gic: interrupt-controller@1bdc0000 {
		compatible = "mti,gic";
		reg = <0x1bdc0000 0x20000>;

		interrupt-controller;
		#interrupt-cells = <3>;

		timer {
			compatible = "mti,gic-timer";
			interrupts = <GIC_LOCAL 1 IRQ_TYPE_NONE>;
			clock-frequency = <550000000>;
		};
	};

	xtal: xtal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <52000000>;
		clock-output-names = "xtal";
	};

	clk_top: clk_top@18149000 {
		compatible = "img,pistachio-cr-top";
		reg = <0x18149000 0x200>;
		#clock-cells = <1>;
	};

	clk_core: clk_core@18144000 {
		compatible = "img,pistachio-clk";
		clocks = <&xtal &clk_top EXT_CLK_AUDIO_IN
			&clk_top EXT_CLK_ENET_IN>;
		clock-names = "xtal", "audio_refclk_ext_gate",
			"ext_enet_in_gate";
		reg = <0x18144000 0x800>;
		#clock-cells = <1>;
	};

	clk_periph: clk_periph@18144800 {
		compatible = "img,pistachio-clk-periph";
		reg = <0x18144800 0x1000>;
		clocks = <&clk_core CLK_PERIPH_SYS_CORE>;
		clock-names = "periph_sys_core";
		#clock-cells = <1>;
	};

	clk_sys: clk_sys@18148000 {
		compatible = "img,pistachio-cr-periph", "syscon";
		reg = <0x18148000 0x1000>;
		clocks = <&clk_periph PERIPH_CLK_SYS>;
		clock-names = "sys";
		#clock-cells = <1>;
	};
};
