# CONFIG_ETHERNET is not set
CONFIG_MD=y
CONFIG_PSTORE=y
# CONFIG_ROCKCHIP_ANALOGIX_DP is not set
CONFIG_SND_SOC_ROCKCHIP_MULTICODECS=y
CONFIG_SND_SOC_ROCKCHIP_MULTI_DAIS=y
CONFIG_SND_SOC_ROCKCHIP_PDM=y
CONFIG_USB_CONFIGFS_F_MTP=y
CONFIG_VIDEO_GC2155=y
CONFIG_VIDEO_ROCKCHIP_CIF=y
# CONFIG_BCACHE is not set
# CONFIG_BLK_DEV_DM is not set
# CONFIG_BLK_DEV_MD is not set
# CONFIG_DPM_WATCHDOG is not set
CONFIG_PSTORE_CONSOLE=y
# CONFIG_PSTORE_FTRACE is not set
# CONFIG_PSTORE_PMSG is not set
CONFIG_PSTORE_RAM=y
CONFIG_REED_SOLOMON=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_REED_SOLOMON_ENC8=y
# CONFIG_ROCKCHIP_CIF_WORKMODE_ONEFRAME is not set
CONFIG_ROCKCHIP_CIF_WORKMODE_PINGPONG=y
# CONFIG_USB_CONFIGFS_F_PTP is not set
CONFIG_USB_F_MTP=y
CONFIG_ZLIB_DEFLATE=y
