# CONFIG_BACKLIGHT_LCD_SUPPORT is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_BT is not set
# CONFIG_CHARGER_BQ24735 is not set
# CONFIG_CHARGER_GPIO is not set
# CONFIG_DRM_FBDEV_EMULATION is not set
# CONFIG_DRM_SII902X is not set
# CONFIG_FUSB_30X is not set
# CONFIG_HIGH_RES_TIMERS is not set
CONFIG_HZ=100
CONFIG_HZ_100=y
# CONFIG_HZ_300 is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_MALI400 is not set
# CONFIG_MALI_MIDGARD is not set
# CONFIG_MEDIA_CEC_SUPPORT is not set
# CONFIG_MEDIA_USB_SUPPORT is not set
# CONFIG_MFD_CROS_EC is not set
# CONFIG_MFD_RK628 is not set
# CONFIG_MFD_RK808 is not set
# CONFIG_MFD_TPS6586X is not set
# CONFIG_PHY_ROCKCHIP_CSI2_DPHY is not set
# CONFIG_PHY_ROCKCHIP_INNO_HDMI_PHY is not set
# CONFIG_PHY_ROCKCHIP_INNO_USB3 is not set
# CONFIG_PHY_ROCKCHIP_INNO_VIDEO_COMBO_PHY is not set
# CONFIG_PHY_ROCKCHIP_MIPI_RX is not set
# CONFIG_PHY_ROCKCHIP_TYPEC is not set
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_LP8752 is not set
# CONFIG_REGULATOR_MP8865 is not set
# CONFIG_REGULATOR_TPS65132 is not set
# CONFIG_REGULATOR_XZ3216 is not set
# CONFIG_RFKILL is not set
# CONFIG_ROCKCHIP_CDN_DP is not set
# CONFIG_ROCKCHIP_DRM_TVE is not set
# CONFIG_ROCKCHIP_INNO_HDMI is not set
# CONFIG_ROCKCHIP_LVDS is not set
# CONFIG_SND_SOC_ES7202 is not set
# CONFIG_SND_SOC_ES7243E is not set
# CONFIG_SND_SOC_ES8316 is not set
# CONFIG_SND_SOC_RK3328 is not set
# CONFIG_SND_SOC_RK_CODEC_DIGITAL is not set
# CONFIG_SND_SOC_ROCKCHIP_MAX98090 is not set
# CONFIG_SND_SOC_ROCKCHIP_PDM is not set
# CONFIG_SND_SOC_ROCKCHIP_RT5645 is not set
# CONFIG_SND_SOC_ROCKCHIP_RT5651_RK628 is not set
# CONFIG_SND_SOC_RT5616 is not set
# CONFIG_SND_SOC_RT5640 is not set
# CONFIG_SND_SOC_RT5651 is not set
# CONFIG_SND_SOC_TS3A227E is not set
# CONFIG_SND_USB is not set
# CONFIG_USB_ACM is not set
# CONFIG_USB_CONFIGFS_ACM is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_CONFIGFS_MASS_STORAGE is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_USB_SERIAL is not set
# CONFIG_USB_STORAGE is not set
# CONFIG_V4L_PLATFORM_DRIVERS is not set
# CONFIG_VIDEO_GC8034 is not set
# CONFIG_VIDEO_OS04A10 is not set
# CONFIG_VIDEO_OV13850 is not set
# CONFIG_VIDEO_OV4689 is not set
# CONFIG_VIDEO_OV5695 is not set
# CONFIG_VIDEO_OV7251 is not set
# CONFIG_VIDEO_RK628_CSI is not set
# CONFIG_VIDEO_TC35874X is not set
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set
