# CONFIG_ARM_CPUIDLE is not set
# CONFIG_ARM_ROCKCHIP_DMC_DEVFREQ is not set
# CONFIG_CGROUP_CPUACCT is not set
# CONFIG_CGROUP_SCHED is not set
# CONFIG_CPU_FREQ is not set
# CONFIG_CPU_FREQ_TIMES is not set
# CONFIG_CPU_FREQ_GOV_SCHEDUTIL is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_FTRACE is not set
# CONFIG_IRQ_TIME_ACCOUNTING is not set
# CONFIG_MALI_BIFROST_ENABLE_TRACE is not set
# CONFIG_MALI_BIFROST_SYSTEM_TRACE is not set
# CONFIG_PSI is not set
# CONFIG_PERF_EVENTS is not set
# CONFIG_PROFILING is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SCHED_INFO is not set
# CONFIG_SWAP is not set
# CONFIG_TASKSTATS is not set
# CONFIG_ZRAM is not set
CONFIG_HZ_PERIODIC=y
CONFIG_HZ_1000=y
CONFIG_PREEMPT_RT_FULL=y
