#
#rk cif
#
config VIDEO_RK_CIF_CIF10
	tristate "Rockchip cif cif10 camera sensors"
	depends on VIDEO_V4L2 && I2C
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_CONTIG
	select VIDEOBUF_VMALLOC
	default n
	---help---
	  Say Y here to enable selecting the
	  rockchip cif isp10 camera sensors
