#
# Atheros device configuration
#

config NET_VENDOR_ATHEROS
	bool "Atheros devices"
	default y
	depends on PCI
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y
	  and read the Ethernet-HOWTO, available from
	  <http://www.tldp.org/docs.html#howto>.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Atheros devices. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_ATHEROS

config ATL2
	tristate "Atheros L2 Fast Ethernet support"
	depends on PCI
	select CRC32
	select MII
	---help---
	  This driver supports the Atheros L2 fast ethernet adapter.

	  To compile this driver as a module, choose M here.  The module
	  will be called atl2.

config ATL1
	tristate "Atheros/Attansic L1 Gigabit Ethernet support"
	depends on PCI
	select CRC32
	select MII
	---help---
	  This driver supports the Atheros/Attansic L1 gigabit ethernet
	  adapter.

	  To compile this driver as a module, choose M here.  The module
	  will be called atl1.

config ATL1E
	tristate "Atheros L1E Gigabit Ethernet support"
	depends on PCI
	select CRC32
	select MII
	---help---
	  This driver supports the Atheros L1E gigabit ethernet adapter.

	  To compile this driver as a module, choose M here.  The module
	  will be called atl1e.

config ATL1C
	tristate "Atheros L1C Gigabit Ethernet support"
	depends on PCI
	select CRC32
	select MII
	---help---
	  This driver supports the Atheros L1C gigabit ethernet adapter.

	  To compile this driver as a module, choose M here.  The module
	  will be called atl1c.

config ALX
	tristate "Qualcomm Atheros AR816x/AR817x support"
	depends on PCI
	select CRC32
	select MDIO
	help
	  This driver supports the Qualcomm Atheros L1F ethernet adapter,
	  i.e. the following chipsets:

	  1969:1091 - AR8161 Gigabit Ethernet
	  1969:1090 - AR8162 Fast Ethernet
	  1969:10A1 - AR8171 Gigabit Ethernet
	  1969:10A0 - AR8172 Fast Ethernet

	  To compile this driver as a module, choose M here.  The module
	  will be called alx.

config QCA8337_LITE
	tristate "Qualcomm/Atheros QCA8337 driver for minimal initialization (EXPERIMENTAL)"
	depends on EXPERIMENTAL
	select NET_CORE
	select MII
	---help---
	  This driver performs a minimal initialization of the Qualcom/Atheros QCA8337

	  Normally, U-boot (BIOS) performs this initialization. Systems using CoreBoot
	  (instead of U-Boot) need this driver to use Wired Ethernet.
	  If in doubt, select M.

	  The module will be called qca3887-lite.

config QCA_NSS_DRV
	tristate "Qualcomm/Atheros IPQ806x NSS driver support (EXPERIMENTAL)"
	depends on EXPERIMENTAL && ARCH_QCOM
	select NET_CORE
	select MII
	---help---
	  This driver supports the Qualcomm/Atheros IPQ806x internal NSS core.
	  It contains routines to load firmware and basic methods to communicate
	  with it. The NSS based GMAC relies on this driver to communicate with
	  the NSS firmware.

	  The module will be called qca-nss-drv.

config QCA_NSS_GMAC
	tristate "Qualcomm/Atheros IPQ806x GMAC Ethernet support (EXPERIMENTAL)"
	depends on EXPERIMENTAL && ARCH_QCOM
	select QCA_NSS_DRV
	select NET_CORE
	select MII
	---help---
	  This driver supports the Qualcomm/Atheros GMAC ports in IPQ806x
	  chipset. Presents an ethernet interface to user space.

	  The module will be called qca-nss-gmac.

endif # NET_VENDOR_ATHEROS
