/dts-v1/;

#include "rk3399-firefly-port.dtsi"
#include <dt-bindings/sensor-dev.h>

/ {
	model = "AIO-3399-JD4-SR Board (Linux Opensource)";
	compatible = "rockchip,rk3399-firefly", "rockchip,rk3399";
	
	/delete-node/ gpio-keys;
	/delete-node/ wireless-wlan;
	/delete-node/ wireless-bluetooth;
	test-power {
		status = "okay";
	};
};

&pwm3 {
	status = "disabled";
};

&sdio0 {
	status = "disabled";
};

&sdio_pwrseq {
	status = "disabled";
};

&i2s0 {
	status = "disabled";
};

&sdmmc {
	status = "disabled";
};

&rt5640 {
	status = "disabled";
};

/* rtc */
&spi1 {
    	status = "disabled";
};

&rk808{
	rtc {
		status = "disabled";
	};	
};

//pcie0 reset port
&pcie0 {
	ep-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
};


&i2c4 {
	status = "okay";
	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		interrupt-parent = <&gpio1>;
		interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&rtc_int>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
	};
};

/* Usb 5v */

&vcc5v0_host {
	gpio = <&gpio1 23 GPIO_ACTIVE_HIGH>;
};

&host_vbus_drv {
	rockchip,pins = <1 23 RK_FUNC_GPIO &pcfg_pull_none>;
};

/* Mini pcie 4G */

&vcc3v3_3g {
	gpio = <&gpio1 17 GPIO_ACTIVE_HIGH>;
};

&pcie_3g_drv {
	rockchip,pins = <1 17 RK_FUNC_GPIO &pcfg_pull_up>;
};



&gmac {
	tx_delay = <0x2F>;
	rx_delay = <0x1E>;
};

&hdmi_dp_sound {
	status = "okay";
};

&i2c2 {
	status = "disabled";
	i2c-scl-rising-time-ns = <300>;
	i2c-scl-falling-time-ns = <15>;
};

&vcca1v8_codec {
	regulator-min-microvolt = <900000>;
	regulator-max-microvolt = <900000>;
};




&vcc3v3_pcie {
	/delete-property/ gpio;
};



&uart4 {
    status = "disabled";
};

&dp_in_vopb {
	status = "disabled";
};

&hdmi_in_vopl {
	status = "disabled";
};

&wdt {
	status = "disabled";
};

&io_domains {
	bt656-supply = <&vcc_3v0>;
};

&vcc2v8_dvp {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&vcca1v8_codec {
	regulator-min-microvolt = <900000>;
	regulator-max-microvolt = <900000>;
};

&fusb0 {
    status = "disabled";
};

&cdn_dp {
    status = "disabled";
};

&tcphy0 {
    /delete-property/ extcon;
    status = "okay";
};

&u2phy0 {
    status = "okay";
    /delete-property/ extcon;
};

&usbdrd3_0 {
    status = "okay";
    /delete-property/ extcon;
};

&usbdrd_dwc3_0 {
    dr_mode = "peripheral";
};

&route_hdmi {
	status = "okay";
};

&rk808 {
     /delete-property/ pmic,stby-gpio;
     /delete-property/ pmic,hold-gpio;
};

&pinctrl {
	hym8563 {
		rtc_int: rtc-int {
			rockchip,pins = <RK_GPIO1 9 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

