/dts-v1/;

#include "rk3399-firefly-port.dtsi"
#include <dt-bindings/sensor-dev.h>

/ {
	model = "SR-JD4-MAIN Board (Linux Opensource)";
	compatible = "rockchip,rk3399-firefly", "rockchip,rk3399";
	
	/delete-node/ gpio-keys;
	/delete-node/ wireless-wlan;
	/delete-node/ wireless-bluetooth;
	test-power {
		status = "okay";
	};

	vcc_adb: vcc-adb {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 24 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&adb_sel>;
		regulator-name = "vcc_adb";
		regulator-always-on;
		status = "okay";
	};

};

&pwm3 {
	status = "disabled";
};

&sdio0 {
	status = "disabled";
};

&sdio_pwrseq {
	status = "disabled";
};

&i2s0 {
	status = "disabled";
};

&sdmmc {
	status = "disabled";
};

&rt5640 {
	status = "disabled";
};

/* rtc */
&rk808{
	/delete-property/ pmic,stby-gpio;
	pinctrl-0 = <&pmic_int_l &pmic_dvs2 &pmic_hold>;
	rtc {
		status = "disabled";
	};	
};

//pcie0 reset port
&pcie0 {
	ep-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
};


&i2c1 {
	status = "okay";
	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		interrupt-parent = <&gpio3>;
		interrupts = <31 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&rtc_int>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
	};



	sensor@3c {
		 status = "okay";
		 compatible = "firefly,pc9202";
		 reg = <0x3c>;
	};

};

/* Usb 5v */

&vcc5v0_host {
	gpio = <&gpio1 23 GPIO_ACTIVE_HIGH>;
};

&host_vbus_drv {
	rockchip,pins = <1 23 RK_FUNC_GPIO &pcfg_pull_none>;
};

/* Mini pcie 4G */

&vcc3v3_3g {
	gpio = <&gpio3 28 GPIO_ACTIVE_HIGH>;
};

&pcie_3g_drv {
	rockchip,pins = <3 28 RK_FUNC_GPIO &pcfg_pull_up>;
};

&spi1 {
	status = "okay";
	max-freq = <48000000>;
	dev-port = <0>;

	spidev0: spidev@00 {
		status = "okay";
		//compatible = "linux,spidev";
		compatible = "jedec,spi-nor";
		reg = <0x00>;
		spi-max-frequency = <48000000>;
	};
/*
       spi_demo: spi-demo@00{
              status = "okay";
              compatible = "firefly,rk3399-spi";
              reg = <0x00>;
              spi-max-frequency = <48000000>;
*/
/* rk3399 driver support SPI_CPOL | SPI_CPHA | SPI_CS_HIGH */
              //spi-cpha;             /* SPI mode: CPHA=1 */
              //spi-cpol;     /* SPI mode: CPOL=1 */
              //spi-cs-high;
//      };
};


&gmac {
	tx_delay = <0x2F>;
	rx_delay = <0x1E>;
};

&hdmi_dp_sound {
	status = "okay";
};

&i2c2 {
	status = "disabled";
	i2c-scl-rising-time-ns = <300>;
	i2c-scl-falling-time-ns = <15>;
};

&vcca1v8_codec {
	regulator-min-microvolt = <900000>;
	regulator-max-microvolt = <900000>;
};




&vcc3v3_pcie {
	/delete-property/ gpio;
};



&uart4 {
    status = "disabled";
};

&dp_in_vopb {
	status = "disabled";
};

&hdmi_in_vopl {
	status = "disabled";
};

&wdt {
	status = "disabled";
};

&io_domains {
	bt656-supply = <&vcc_3v0>;
};

&vcc2v8_dvp {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};

&vcca1v8_codec {
	regulator-min-microvolt = <900000>;
	regulator-max-microvolt = <900000>;
};


&fusb0 {
    status = "disabled";
};

&cdn_dp {
    status = "disabled";
};

&tcphy0 {
    /delete-property/ extcon;
    status = "okay";
};

&tcphy1 {
    /delete-property/ extcon;
    status = "okay";
};

&u2phy0 {
    status = "okay";
    /delete-property/ extcon;

    u2phy0_otg: otg-port {
        status = "okay";
    };
};

&u2phy1 {
    status = "okay";
    /delete-property/ extcon;

    u2phy1_otg: otg-port {
	firefly,vbus-no-det; //set typec peripheral mode when det pin not connect
        status = "okay";
    };
};

&usbdrd3_0 {
    status = "okay";
    /delete-property/ extcon;
};

&usbdrd_dwc3_0 {
    dr_mode = "host";
};

&usbdrd3_1 {
    status = "okay";
};

&usbdrd_dwc3_1 {
    dr_mode = "peripheral";
    status = "okay";
};

&route_hdmi {
	status = "okay";
};

&rk808 {
     /delete-property/ pmic,stby-gpio;
     /delete-property/ pmic,hold-gpio;
};

&pinctrl {
	hym8563 {
		rtc_int: rtc-int {
			rockchip,pins = <RK_GPIO3 31 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	adb {
		adb_sel: adb-sel {
			rockchip,pins = <RK_GPIO1 24 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

};

