// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-firefly-port.dtsi"

/ {

	usb2_hub_reset: usb2-hub-reset-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PA6 IRQ_TYPE_EDGE_FALLING>;
		regulator-name = "usb2_hub_reset_n";
		regulator-always-on;
	};

	usb3_hub_reset: usb3-hub-reset-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PA5 IRQ_TYPE_EDGE_FALLING>;
		regulator-name = "usb3_hub_reset_n";
		regulator-always-on;
	};

// 	pcie20_3v3: gpio-regulator {
// 		compatible = "regulator-gpio";
// 		regulator-name = "pcie20_3v3";
// 		regulator-min-microvolt = <0100000>;
// 		regulator-max-microvolt = <3300000>;
// 		gpios = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
// 		gpios-states = <0x1>;
// 		states = <0100000 0x0
// 			  3300000 0x1>;
// 	};

	switch {
		compatible = "realtek,rtl8366rb";
		mdc-gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_LOW>;
		mdio-gpios = <&gpio2 RK_PC4 (GPIO_ACTIVE_LOW|GPIO_OPEN_DRAIN)>;
		reset-gpios = <&gpio2 RK_PD2 (GPIO_ACTIVE_LOW|GPIO_OPEN_DRAIN)>;

		switch_intc: interrupt-controller {
			interrupt-parent = <&gpio3>;
			interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <1>;
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			port@0 {
				reg = <0>;
				label = "lan0";
				phy-handle = <&phy0>;
			};
			port@1 {
				reg = <1>;
				label = "lan1";
				phy-handle = <&phy1>;
			};
			port@2 {
				reg = <2>;
				label = "lan2";
				phy-handle = <&phy2>;
			};
			port@3 {
				reg = <3>;
				label = "lan3";
				phy-handle = <&phy3>;
			};
			port@4 {
				reg = <4>;
				label = "wan";
				phy-handle = <&phy4>;
			};
			cpu_phy0: port@5 {
				reg = <5>;
				label = "cpu";
				ethernet = <&gmac0>;
				phy-mode = "rgmii";
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};

		mdio {
			compatible = "realtek,smi-mdio", "dsa-mdio";
			#address-cells = <1>;
			#size-cells = <0>;

			phy0: phy@0 {
				reg = <0>;
				interrupt-parent = <&switch_intc>;
				interrupts = <0>;
			};
			phy1: phy@1 {
				reg = <1>;
				interrupt-parent = <&switch_intc>;
				interrupts = <1>;
			};
			phy2: phy@2 {
				reg = <2>;
				interrupt-parent = <&switch_intc>;
				interrupts = <2>;
			};
			phy3: phy@3 {
				reg = <3>;
				interrupt-parent = <&switch_intc>;
				interrupts = <3>;
			};
			phy4: phy@4 {
				reg = <4>;
				interrupt-parent = <&switch_intc>;
				interrupts = <12>;
			};
		};
	};
};


&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "disabled";
	/*
	* dphy1 only used for split mode,
	* can be used  concurrently  with dphy2
	* full mode and split mode are mutually exclusive
	*/
};

&csi2_dphy2 {
	status = "disabled";
	/*
	* dphy2 only used for split mode,
	* can be used  concurrently  with dphy1
	* full mode and split mode are mutually exclusive
	*/
};

&rkisp_vir0 {
	status = "disabled";
};

&rkisp_vir1 {
	status = "disabled";
};

&i2c0 {
    status = "okay";
    sensor@3c{
        status = "okay";
        compatible = "firefly,pc9202";
        reg = <0x3c>;
        //wd-en-gpio = <&gpio3 23 GPIO_ACTIVE_HIGH>;
    };
};

&i2c1 {
	status = "okay";
	hym8563: hym8563@51 {
		status = "okay";
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		rtc-irq-gpio = <&gpio0 RK_PD3 IRQ_TYPE_EDGE_FALLING>;
		clock-frequency = <32768>;
		//clock-output-names = "xin32k";
		/* rtc_int is not connected */
	};

// 	pca9555_1: gpio@22 {
// 		status = "okay";
// 		compatible = "nxp,pca9555";
// 		reg = <0x22>;
// 		gpio-controller;
// 		#gpio-cells = <2>;
// 		gpio-group-num = <300>;
// 	};

    gslx680: gslx680@41 {
        status = "disabled";
        compatible = "gslX680";
        reg = <0x41>;
        screen_max_x = <800>;
        screen_max_y = <1280>;
        touch-gpio = <&gpio3 RK_PA3 IRQ_TYPE_LEVEL_LOW>;
        reset-gpio = <&gpio3 RK_PA5 GPIO_ACTIVE_HIGH>;
        flip-x = <1>;
        flip-y = <0>;
        swap-xy = <0>;
        gsl,fw = <1>;
    };

	rv3028@52 {
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
		trickle-resistor-ohms = <11000>;
		status = "okay";
	};

	/delete-node/ xc6130@23;
};

&i2c2{
	status = "okay";
	pinctrl-0 = <&i2c2m1_xfer>;
};

&vcc_camera {
	status = "disabled";
};

&pwm11 {
	status = "disabled";
};

&pwm14 {
	status = "okay";
};

&i2c5 {
    status = "okay";
    /delete-node/ hym8563@51;
};

&mc3230 {
    status = "okay";
};

&pca9555 {
    status = "okay";
};

&mc3230 {
    status = "okay";
};

&uart9 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart9m1_xfer>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&spi1 {
	status = "disabled";
};

&spi_wk2xxx {
	status = "disabled";
};


&pcie30_3v3 {
	compatible = "regulator-fixed";
	regulator-always-on;
	/delete-property/ gpios;
	/delete-property/ gpios-state;
};

&pcie30phy {
       status = "okay";
};

&pcie3x2 {
    status = "okay";
};

&its {
    status = "okay";
};

&can1 {
    status = "okay";
};

&can2 {
    status = "disabled";
};

/delete-node/ &vcc3v3_vga;

&gmac0 {
    status = "okay";
    tx_delay = <0x4a>;
    rx_delay = <0x35>;
	snps,reset-gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_LOW>;

	clock_in_out = "output";
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-rates = <0>, <125000000>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
			&gmac0_tx_bus2
			&gmac0_rx_bus2
			&gmac0_rgmii_clk
			&gmac0_rgmii_bus>;

	//delete-property/  mdio0;
	phy-mode = "rgmii";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&gmac1 {
    status = "okay";
    tx_delay = <0x4d>;
    rx_delay = <0x2d>;
	snps,reset-gpio = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;

	clock_in_out = "output";
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-rates = <0>, <125000000>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;
};

&mdio0 {
	/delete-property/ phy@0;
};


&rgmii_phy1 {
	led_status_value = <0x6940>;
};

&uart8 {
	status = "okay";
};

&sdio_pwrseq {
	status = "okay";
	reset-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
	post-power-on-delay-ms = <100>;
};

&wireless_bluetooth {
	BT,reset_gpio    = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
	BT,wake_gpio     = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
	BT,wake_host_irq = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&spdif_8ch{
    status = "disabled";
};

&rk809_codec {
    spk-ctl-gpios = <&pca9555 PCA_IO0_7 GPIO_ACTIVE_HIGH>;
	/delete-property/ pinctrl-1;
    hp-ctl-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
    hp-det-adc-value = <200>;
    hp-adc-drift-scope = <200>;
};

&rk809 {
    rtc {
        status = "disabled";
    };
};

&pwm7 {
	status = "disabled";
};

&sata1 {
	status = "okay";
};

&sata2 {
	status = "disabled";
	/delete-property/ pinctrl-0;
};

&pcie2x1 {
	status = "okay";
};

&dfi {
       status = "okay";
};

&dmc {
       status = "okay";
};

&pinctrl {

	gmac0 {

		gmac0_miim: gmac0-miim {
			rockchip,pins =
				/* gmac0_mdc */
				<2 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>,
				/* gmac0_mdio */
				<2 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>,
				/* gmac0_rst */
				<2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		gmac0_clkinout: gmac0-clkinout {
			rockchip,pins =
				/* gmac0_mclkinout */
				<2 RK_PC2 2 &pcfg_pull_none>;
		};

		gmac0_rx_er: gmac0-rx-er {
			rockchip,pins =
				/* gmac0_rxer */
				<2 RK_PC5 2 &pcfg_pull_none>;
		};

		gmac0_rx_bus2: gmac0-rx-bus2 {
			rockchip,pins =
				/* gmac0_rxd0 */
				<2 RK_PB6 1 &pcfg_pull_none>,
				/* gmac0_rxd1 */
				<2 RK_PB7 2 &pcfg_pull_none>,
				/* gmac0_rxdvcrs */
				<2 RK_PC0 2 &pcfg_pull_none>;
		};

		gmac0_tx_bus2: gmac0-tx-bus2 {
			rockchip,pins =
				/* gmac0_txd0 */
				<2 RK_PB3 1 &pcfg_pull_none_drv_level_2>,
				/* gmac0_txd1 */
				<2 RK_PB4 1 &pcfg_pull_none_drv_level_2>,
				/* gmac0_txen */
				<2 RK_PB5 1 &pcfg_pull_none>;
		};

		gmac0_rgmii_clk: gmac0-rgmii-clk {
			rockchip,pins =
				/* gmac0_rxclk */
				<2 RK_PA5 2 &pcfg_pull_none>,
				/* gmac0_txclk */
				<2 RK_PB0 2 &pcfg_pull_none_drv_level_1>;
		};

		gmac0_rgmii_bus: gmac0-rgmii-bus {
			rockchip,pins =
				/* gmac0_rxd2 */
				<2 RK_PA3 2 &pcfg_pull_none>,
				/* gmac0_rxd3 */
				<2 RK_PA4 2 &pcfg_pull_none>,
				/* gmac0_txd2 */
				<2 RK_PA6 2 &pcfg_pull_none_drv_level_2>,
				/* gmac0_txd3 */
				<2 RK_PA7 2 &pcfg_pull_none_drv_level_2>;
		};
	};

	pcie30x2 {
		pcie30x2m1_pins: pcie30x2m1-pins {
			rockchip,pins =
				/* pcie30x2_clkreqnm1 */
				<2 RK_PD4 4 &pcfg_pull_none>,
				/* pcie30x2_perstnm1 */
				<2 RK_PD6 4 &pcfg_pull_none>,
				/* pcie30x2_wakenm1 */
				<2 RK_PD5 4 &pcfg_pull_none>;
		};
	};

	pcie20 {
		pcie20m1_pins: pcie20m1-pins {
			rockchip,pins =
				/* pcie20_clkreqnm1 */
				<2 RK_PD0 4 &pcfg_pull_none>,
				/* pcie20_perstnm1 */
				<3 RK_PC1 4 &pcfg_pull_none>,
				/* pcie20_wakenm1 */
				<2 RK_PD1 4 &pcfg_pull_none>;
		};
	};
//	touchscreen {
//		tp_power_en: tp-power-en {
//			rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
//		};
//	};

};
