// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3568-firefly-port.dtsi"

/ {

	usb2_hub_reset: usb2-hub-reset-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PA6 IRQ_TYPE_EDGE_FALLING>;
		regulator-name = "usb2_hub_reset_n";
		regulator-always-on;
	};

	usb3_hub_reset: usb3-hub-reset-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PA5 IRQ_TYPE_EDGE_FALLING>;
		regulator-name = "usb3_hub_reset_n";
		regulator-always-on;
	};
};


&pmu_io_domains {
	status = "okay";
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_3v3>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3>;
};


&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "disabled";
	/*
	* dphy1 only used for split mode,
	* can be used  concurrently  with dphy2
	* full mode and split mode are mutually exclusive
	*/
};

&csi2_dphy2 {
	status = "disabled";
	/*
	* dphy2 only used for split mode,
	* can be used  concurrently  with dphy1
	* full mode and split mode are mutually exclusive
	*/
};

&rkisp_vir0 {
	status = "disabled";
};

&rkisp_vir1 {
	status = "disabled";
};

&i2c0 {
    status = "okay";
    sensor@3c{
        status = "okay";
        compatible = "firefly,pc9202";
        reg = <0x3c>;
        //wd-en-gpio = <&gpio3 23 GPIO_ACTIVE_HIGH>;
    };
};

&i2c1 {
	status = "okay";
	rv3028@52 {
		status = "okay";
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
			backup-switchover-mode = <0x01>;
			trickle-resistor-ohms = <3000>;
	};
	tpm@2e {
		status = "okay";
		compatible = "infineon,slb9673", "tcg,tpm-tis-i2c";
		reg = <0x2e>;
	};

	slb9673@2e{
		compatible = "infineon,slb9673","tcg,tpm-tis-i2c" ;
		reg = <0x2e>;
		#address-cells = <2>;
		#size-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&slb9673_gpio>;
		status = "okay";
    };

	gt1x@14 {
		status = "okay";
		compatible = "goodix,gt911";
		reg        = <0x14>;
		pinctrl-0 = <&touch_panel_gpio>;
		interrupt-parent = <&gpio0>;                              //Parent of interrupt.
		interrupts = <RK_PB5 IRQ_TYPE_LEVEL_HIGH>;   			  //Configuration of touch panel  interrupt controller.
		goodix,irq-gpio   = <&gpio0 RK_PB5 IRQ_TYPE_EDGE_RISING>; //Interrupt gpio which is to provide interrupts to  host, same as "interrupts" node.
		goodix,rst-gpio   = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;	  //Reset gpio to control the reset of chip
		irq-flag  = <1>;                                          //1 for rising edge trigger, 2 for failing edge trigger

		touchscreen-size-x = <240>;
		touchscreen-size-y = <240>;
	};
	/delete-node/ xc6130@23;
};

&i2c2{
	status = "disabled";
	pinctrl-0 = <&i2c2m1_xfer>;
};

&i2c0{
	/delete-node/ tcs4525@1c;
	vdd_cpu: syr827-rk8600@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		vin-supply = <&vcc5v0_sys>;
		vsel-gpios = <&gpio1 RK_PB6 GPIO_ACTIVE_HIGH>;
		regulator-compatible = "fan53555-reg";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <1390000>;
 		regulator-init-microvolt = <1300000>;
		regulator-initial-mode = <1>;
		regulator-ramp-delay = <2300>;
		fcs,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};

	};
};

&i2c4{
	status = "disabled";
};

&vcc_camera {
	status = "disabled";
};

&pwm11 {
	status = "disabled";
};

&pwm14 {
	status = "disabled";
};

&i2c5 {
    status = "disabled";
    /delete-node/ hym8563@51;
	/delete-node/ mxc6655xa;
};

&mc3230 {
    status = "disabled";
};

&pca9555 {
    status = "disabled";
};

&uart9 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart9m1_xfer>;
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer &uart0_ctsn &uart0_rtsn>;
	status = "okay";

	bluetooth {
		compatible = "qcom,qca6174-bt";

		enable-gpios = <&gpio4 RK_PD0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "blt_enable";
// 		clocks = <&divclk4>;
		firmware-name = "nvm_00440302.bin";
	};

};
&pcie30phy {
       status = "okay";
};

&spi1 {
	status = "disabled";
	/delete-property/ pinctrl-0;
	/delete-property/ pinctrl-1;
	/delete-property/ spi_wk2xxx;
};

&spi3 {
	status = "okay";
	max-freq = <48000000>;
	pinctrl-0 = <&spi3m1_pins>;
	pinctrl-1 = <&spi3m1_cs0>;

	#address-cells = <1>;
	#size-cells = <0>;

	NanoAirTFT:NanoAirTFT@0 {
		compatible = "sitronix,st7789v";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&display_pins>;
		spi-max-frequency = <32000000>;
		txbuflen = <16384>;
		fps = <33>;
		buswidth = <8>;
		rotate = <0>;
		width = <240>;
		height = <240>;
		reset-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		led-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		debug = <4>;
		status = "okay";
// 		bgr = <1>;
		spi-cpol;
		spi-cpha;
	};
};

&pcie3x2 {
    status = "okay";
};

&its {
    status = "okay";
};

&can1 {
    status = "disabled";
};

&can2 {
    status = "disabled";
};

&rk809_sound {
	status = "disabled";
};

/delete-node/ &vcc3v3_vga;

&combphy1_usq {
 	rockchip,sgmii-mac-sel = <0>; /* Use gmac0 for sgmii */
	status = "okay";
};

&xpcs {
	status = "okay";
};

&gmac0 {
	/delete-property/ phy-handle;
    status = "okay";
	snps,reset-gpio = <&gpio2 RK_PD2 GPIO_ACTIVE_HIGH>;
	snps,reset-delays-us = <0 20000 100000>;

	rockchip,pipegrf = <&pipegrf>;
	rockchip,xpcs = <&xpcs>;
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>;
	assigned-clock-parents = <&gmac0_xpcsclk>;
	power-domains = <&power RK3568_PD_PIPE>;

// 	pinctrl-names = "default";
// 	pinctrl-0 = <&gmac0_gpio
// 			&gmac0_miim>;
	phys = <&combphy1_usq PHY_TYPE_SGMII>;
	phy-mode = "sgmii";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&gmac1 {
    status = "okay";
    tx_delay = <0x4d>;
    rx_delay = <0x2d>;
	snps,reset-gpio = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;

	clock_in_out = "output";
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-rates = <0>, <125000000>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;

	pinctrl-names = "default";
	pinctrl-0 = <&gmac1_gpio
			 &gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;
};

&mdio0 {
	#address-cells = <1>;
	#size-cells = <0>;

	mt7530: switch@1f {
		compatible = "mediatek,mt7531";
		reg = <0x1f>;
		#address-cells = <1>;
		#size-cells = <0>;
		interrupt-controller;
		interrupt-parent = <&gpio3>;                              //Parent of interrupt.
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_HIGH>;

// 		reset-gpios = <&gpio2 RK_PD2 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				label = "lan0";
			};

			port@1 {
				reg = <1>;
				label = "lan1";
			};

			port@2 {
				reg = <2>;
				label = "lan2";
			};

			port@3 {
				reg = <3>;
				label = "lan3";
			};

			port@4 {
				reg = <4>;
				label = "lan4";
			};

			cpu_port0: port@6 {
				reg = <6>;
				label = "cpu";
				ethernet = <&gmac0>;
				phy-mode = "1000base-x";
				fixed-link {
					speed = <1000>;
					full-duplex;
					pause;
				};
			};
		};
	};
};

&rgmii_phy0 {
	status = "disabled";
	led_status_value = <0x6940>;
};

&rgmii_phy1 {
	led_status_value = <0x6940>;
};

&uart8 {
	status = "disabled";
};

&sdio_pwrseq {
	status = "okay";
	reset-rebootgpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW>;
	post-power-on-delay-ms = <100>;
};

/delete-node/ &wireless_bluetooth;

&spdif_8ch{
    status = "disabled";
};

&rk809_codec {
    spk-ctl-gpios = <&pca9555 PCA_IO0_7 GPIO_ACTIVE_HIGH>;
	/delete-property/ pinctrl-1;
    hp-ctl-gpios = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
    hp-det-adc-value = <200>;
    hp-adc-drift-scope = <200>;
};

&rk809 {
    rtc {
        status = "disabled";
    };
};

&pwm7 {
	status = "disabled";
};

&sata1 {
	status = "disabled";
};

&usbhost30 {
	status = "disabled";
};

&usbhost_dwc3 {
	status = "disabled";
};

&sata2 {
	status = "disabled";
};

&pcie2x1 {
	status = "okay";
	pinctrl-0 = <&pcie20m1_pins>;
	pinctrl-1 = <&wlanen_pins>;
	reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
};

&hdmi {
	status = "disabled";
};

&hdmi_in_vp0 {
	status = "disabled";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&hdmi_sound {
	status = "disabled";
};

&dfi {
       status = "okay";
};

&dmc {
       status = "okay";
};

&pinctrl {

	slb9673 {
		slb9673_gpio: slb9673-gpio{
			rockchip,pins =
			/*TPM_RST*/
			<3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gmac1{
			gmac1_gpio: gmac1-gpio {
				rockchip,pins =
					/* TODO:HOt fix for LTE modem to be enabled on 5.2 board.Probably should not be in gma1 node.*/
					<3 RK_PB3 RK_FUNC_GPIO &pcfg_output_high_pull_up>;
			};
		};

	gmac0 {
		gmac0_gpio: gmac0-gpio {
			rockchip,pins =
				/* gmac0_rst */
				<2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>,
				/* gmac0_rst */
				<3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
// 				/* gmac0_mdc */
// 				<2 RK_PC3 2 &pcfg_pull_up>,
// 				/* gmac0_mdio */
// 				<2 RK_PC4 2 &pcfg_pull_up>;
		};
	};


	pcie30x2 {
		pcie30x2m1_pins: pcie30x2m1-pins {
			rockchip,pins =
				/* pcie30x2_clkreqnm1 */
				<2 RK_PD4 4 &pcfg_pull_none>,
				/* pcie30x2_perstnm1 */
				<2 RK_PD6 4 &pcfg_pull_none>,
				/* pcie30x2_wakenm1 */
				<2 RK_PD5 4 &pcfg_pull_none>;
		};
	};

	pcie20x2 {
		wlanen_pins: wlanen_pins {
			rockchip,pins =
				/* pcie20_en */
				<4 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up_drv_level_1>;
		};
	};

	display {
	display_pins: display_pins {
		rockchip,pins =
			<0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,		  //dc_gpios
			<3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>,        //led_gpios
			<3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>;	      //reset_gpios
		};
	};

	gt911 {
		touch_panel_gpio: touch_panel_gpio{
			rockchip,pins =
			<0  RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>,			//Interupt pin
			<0  RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;				//Reset pin should have external 10 kOmh resistor.
		};
	};

	bluetooth {
		blt_enable: blt_enable {
			rockchip,pins =
				<4 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;

		};
	};

};
