config GOOGLE_FIRMWARE
	bool "Google Firmware Drivers"
	default n
	help
	  These firmware drivers are used by Google's servers.  They are
	  only useful if you are working directly on one of their
	  proprietary servers.  If in doubt, say "N".

menu "Google Firmware Drivers"
	depends on GOOGLE_FIRMWARE

config GOOGLE_SMI
	tristate "SMI interface for Google platforms"
	depends on X86 && ACPI && DMI
	help
	  Say Y here if you want to enable SMI callbacks for Google
	  platforms.  This provides an interface for writing to and
	  clearing the event log.  If EFI_VARS is also enabled this
	  driver provides an interface for reading and writing NVRAM
	  variables.

config GOOGLE_COREBOOT_TABLE
	tristate "Coreboot Table Access"
	depends on OF
	help
	  This option enable the coreboot_table module, which provide other
	  firmware modules to access coreboot table.

config GOOGLE_MEMCONSOLE_X86
	tristate "Firmware Memory Console - X86"
	depends on X86 && ACPI && DMI
	help
	  This option enables the kernel to search for a firmware log in
	  the EBDA / ACPI on Google servers on x86.  If found, this log is
	  exported to userland in the file /sys/firmware/log.

config GOOGLE_MEMCONSOLE_OF
	tristate "Firmware Memory Console - OF"
	depends on GOOGLE_COREBOOT_TABLE
	help
	  This option enables the kernel to search for a firmware log on
	  coreboot platforms using device tree.  If found, this log is exported
	  to userland in the file /sys/firmware/log.

config GOOGLE_VPD
	tristate "Vital Product Data"
	depends on GOOGLE_COREBOOT_TABLE
	help
	  This option enables the kernel to expose the content of Google VPD
	  under /sys/firmware/vpd.

endmenu
