#
# Rockchip Soc drivers
#
config ROCKCHIP_IODOMAIN
        tristate "Rockchip IO domain support"
        depends on ARCH_ROCKCHIP && OF
        help
          Say y here to enable support io domains on Rockchip SoCs. It is
          necessary for the io domain setting of the SoC to match the
          voltage supplied by the regulators.
