config TEGRA_DVFS
	bool "Tegra DVFS support"
	depends on ARCH_TEGRA
	help
	  This adds Tegra DVFS support. There could be several power
	  rails involved and there might be rails dependency based
	  on different SoCs, this config enable the generic DVFS
	  library needed by each SoCs DVFS files.

	  If in doubt, say N.

config TEGRA_124_DVFS
	bool "Tegra124 DVFS support"
	select TEGRA_DVFS
	help
	  This enable Tegra124 DVFS functionality, it implements SoC
	  specific initialization code to be invoked by probe function
	  defined in generic Tegra DVFS driver, so while enabled it
	  needs the config TEGRA_DVFS to be enabled as well.

config EDP_MANAGEMENT
	bool "EDP management"
	help
	  Power "sources" like batteries and regulators have limits
	  on how much current they can supply, the maximum current
	  the power source can supply is its "EDP limit".
	  This is the NVIDIA technique for managing the peak current
	  consumption of the power rail.
	  EDP management manages the components to avoid exceeding
	  the design limits, it limits peak current consumption
	  while maximizing performance.

config TEGRA_CPU_EDP_LIMITS
	bool "Enforce electrical design limits on CPU rail (CPU EDP)"
	depends on ARCH_TEGRA
	depends on CPU_FREQ && THERMAL && EDP_MANAGEMENT
	help
	  Enforce electrical design limits on CPU rail.
	  VDD_CPU EDP prevents the CPU from drawing more current than
	  its voltage regulator can supply.
	  Limit maximum CPU frequency based on temperature and number
	  of on-line CPUs to keep CPU rail current within power supply
	  capabilities.
	  If in doubt, say "Y".
