#include "qcom-ipq8064-v1.0.dtsi"

/ {
	model = "Qualcomm IPQ8064/AP148";
	compatible = "google,storm-proto0", "qcom,ipq8064";

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		rsvd@41200000 {
			reg = <0x41200000 0x300000>;
			no-map;
		};
	};

	soc {
		pinmux@800000 {
			i2c4_pins: i2c4_pinmux {
				pins = "gpio12", "gpio13";
				function = "gsbi4";
				bias-disable;
			};

			pcie1_pins: pcie1_pinmux {
				mux {
					pins = "gpio3";
					drive-strength = <2>;
					bias-disable;
				};
			};

			pcie2_pins: pcie2_pinmux {
				mux {
					pins = "gpio48";
					drive-strength = <2>;
					bias-disable;
				};
			};

			pcie3_pins: pcie3_pinmux {
				mux {
					pins = "gpio63";
					drive-strength = <2>;
					bias-disable;
				};
			};

			spi_pins: spi_pins {
				mux {
					pins = "gpio18", "gpio19", "gpio21";
					function = "gsbi5";
					drive-strength = <10>;
					bias-none;
				};
				cs {
					pins = "gpio20";
					drive-strength = <12>;
				};
			};
		};

		gsbi@16300000 {
			qcom,mode = <GSBI_PROT_I2C_UART>;
			status = "ok";
			serial@16340000 {
				status = "ok";
			};

			i2c4: i2c@16380000 {
				status = "ok";

				clock-frequency = <200000>;

				pinctrl-0 = <&i2c4_pins>;
				pinctrl-names = "default";
			};
		};

		gsbi5: gsbi@1a200000 {
			qcom,mode = <GSBI_PROT_SPI>;
			status = "ok";

			spi4: spi@1a280000 {
				status = "ok";
				spi-max-frequency = <50000000>;

				pinctrl-0 = <&spi_pins>;
				pinctrl-names = "default";

				cs-gpios = <&qcom_pinmux 20 0>;

				dmas = <&adm_dma 6 9>,
					<&adm_dma 5 10>;
				dma-names = "rx", "tx";

				spidev@0 {
					compatible = "spidev";
					reg = <0>;
					spi-max-frequency = <25000000>;
				};
			};
		};

		pci@1b500000 {
			status = "ok";
			reset-gpio = <&qcom_pinmux 3 0>;
			pinctrl-0 = <&pcie1_pins>;
			pinctrl-names = "default";

			ranges = <0x00000000 0 0x00000000 0x0ff00000 0 0x00100000   /* configuration space */
				  0x81000000 0 0	  0x0fe00000 0 0x00100000   /* downstream I/O */
				  0x82000000 0 0x00000000 0x08000000 0 0x07e00000>; /* non-prefetchable memory */
		};

		pci@1b700000 {
			status = "ok";
			reset-gpio = <&qcom_pinmux 48 0>;
			pinctrl-0 = <&pcie2_pins>;
			pinctrl-names = "default";

			ranges = <0x00000000 0 0x00000000 0x31f00000 0 0x00100000   /* configuration space */
				  0x81000000 0 0	  0x31e00000 0 0x00100000   /* downstream I/O */
				  0x82000000 0 0x00000000 0x2e000000 0 0x03e00000>; /* non-prefetchable memory */

		};

		pci@1b900000 {
			status = "ok";
			reset-gpio = <&qcom_pinmux 63 0>;
			pinctrl-0 = <&pcie3_pins>;
			pinctrl-names = "default";

			ranges = <0x00000000 0 0x00000000 0x35f00000 0 0x00100000   /* configuration space */
				  0x81000000 0 0	  0x35e00000 0 0x00100000   /* downstream I/O */
				  0x82000000 0 0x00000000 0x32000000 0 0x03e00000>; /* non-prefetchable memory */

		};

		sata-phy@1b400000 {
			status = "ok";
		};

		sata@29000000 {
			status = "ok";
		};

		dma@18300000 {
			status = "ok";
		};

		tcsr@1a400000 {
			status = "ok";
			qcom,usb-ctrl-select = <TCSR_USB_SELECT_USB3_DUAL>;
		};

		phy@100f8800 {		/* USB3 port 1 HS phy */
			status = "ok";
		};

		phy@100f8830 {		/* USB3 port 1 SS phy */
			status = "ok";
		};

		phy@110f8800 {		/* USB3 port 0 HS phy */
			status = "ok";
		};

		phy@110f8830 {		/* USB3 port 0 SS phy */
			status = "ok";
		};

		usb30@0 {
			status = "ok";
		};

		usb30@1 {
			status = "ok";
		};
	};
};
