/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include <dt-bindings/rkfb/rk_fb.h>
#include "rk3036.dtsi"
#include "rk3036-pinctrl.dtsi"
#include <dt-bindings/input/input.h>

/ {

	uart2 {
		status = "okay";
	};

	fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <2>;
		rockchip,signal-irq = <106>;
		rockchip,wake-irq = <0>;
		/* If enable uart uses irq instead of fiq */
		rockchip,irq-mode-enable = <1>;
		/* Only 115200 and 1500000 */
		rockchip,baudrate = <115200>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart2_xfer>;
		status = "okay";
	};

	gpio_poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio1 GPIO_A2 GPIO_ACTIVE_LOW>;
	};

	power-led {
		compatible = "gpio-leds";
		power {
			label = "standby";
			gpios = <&gpio1 GPIO_A3 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	rotary {
		compatible = "rotary-encoder";
		gpios = <&gpio2 GPIO_C1 GPIO_ACTIVE_LOW>,
				<&gpio2 GPIO_C0 GPIO_ACTIVE_LOW>;
		linux,axis = <0>; /* REL_X */
		rotary-encoder,relative-axis;
	};

	wireless-wlan {
		compatible = "wlan-platdata";

		wifi_chip_type = "ap6212";
		sdio_vref = <0>; //1800mv or 3300mv

		//power_ctrl_by_pmu;
		//keep_wifi_power_on;
		//power_pmu_regulator = "act_ldo3";
		//power_pmu_enable_level = <1>; //1->HIGH, 0->LOW

		//vref_ctrl_enable;
		//vref_ctrl_gpio = <&gpio0 GPIO_A2 GPIO_ACTIVE_HIGH>;
		//vref_pmu_regulator = "act_ldo3";
		//vref_pmu_enable_level = <1>; //1->HIGH, 0->LOW

		WIFI,poweren_gpio = <&gpio0 GPIO_D2 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio0 GPIO_D3 GPIO_ACTIVE_HIGH>;
		//WIFI,reset_gpio = <&gpio2 GPIO_D6 GPIO_ACTIVE_LOW>;

		status = "okay";
};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		//wifi-bt-power-toggle;

		uart_rts_gpios = <&gpio0 GPIO_C2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default","rts_gpio";
		pinctrl-0 = <&uart0_rts>;
		pinctrl-1 = <&uart0_rts_gpio>;

		//BT,power_gpio = <&gpio4 GPIO_D3 GPIO_ACTIVE_HIGH>;
		BT,reset_gpio = <&gpio2 GPIO_B1 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio = <&gpio2 GPIO_B0 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio0 GPIO_C4 GPIO_ACTIVE_LOW>;

		status = "disabled";
	};

	usb_control {
		compatible = "rockchip,rk3036-usb-control";
		//host_drv_gpio = <&gpio2 GPIO_C7 GPIO_ACTIVE_LOW>;
		//otg_drv_gpio = <&gpio0 GPIO_D2 GPIO_ACTIVE_LOW>;

		rockchip,remote_wakeup;
		rockchip,usb_irq_wakeup;
	};

	usb0: usb@10180000 {
		  /*0 - Normal, 1 - Force Host, 2 - Force Device*/
		  rockchip,usb-mode = <0>;
	};

	key {
		compatible = "rockchip,key";
		echo-wake-up {
			gpios = <&gpio2 GPIO_D1 GPIO_ACTIVE_LOW>;
			linux,code = <143>;
			label = "wake up";
		};
	};

	rockchip-audio {
		compatible = "rk3036-audio";
		dais {
			dai0 {
				audio-codec = <&codec>;
				audio-controller = <&i2s>;
				format = "i2s";
				//continuous-clock;
				//bitclock-inversion;
				//frame-inversion;
				//bitclock-master;
				//frame-master;
			};
		};
	};
};

&uart0{
	status = "okay";
	dma-names = "!tx", "!rx";
	pinctrl-0 = <&uart0_xfer &uart0_cts>;
};

&sfc {
	/* use spi flash set "okay", otherwise set "disabled" */
	status = "disabled";
};

&nandc {
	/* used nand set "okay" ,used emmc set "disabled" */
	status = "disabled";
};

&nandc0reg {
	/* used nand set "disabled" ,used emmc set "okay" */
	status = "okay";
};

&emmc {
	clock-frequency = <37500000>;
	clock-freq-min-max = <400000 37500000>;

	supports-highspeed;
	supports-emmc;
	bootpart-no-access;

	supports-DDR_MODE;

	ignore-pm-notify;
	keep-power-in-suspend;

	//poll-hw-reset
	status = "okay";
};

&sdmmc {
	clock-frequency = <37500000>;
	clock-freq-min-max = <400000 37500000>;
	supports-highspeed;
	supports-sd;
	broken-cd;
	card-detect-delay = <200>;

	ignore-pm-notify;
	keep-power-in-suspend;

	//vmmc-supply = <&rk808_ldo5_reg>;
	status = "disabled";
};

&sdio {
	clock-frequency = <37500000>;
	clock-freq-min-max = <200000 37500000>;
	supports-highspeed;
	supports-sdio;
	ignore-pm-notify;
	keep-power-in-suspend;
	cap-sdio-irq;
	status = "okay";
};

&lcdc {
	status = "disabled";
};

&tve {
	status = "okay";
};

&hdmi {
	status = "disabled";
	//rockchips,hdmi_audio_source = <0>;
	//rockchip,defaultmode = <16>;
	//rockchip,defaultmode = <2>;
};

&vmac {
	//pmu_regulator = "act_ldo5";
	//pmu_enable_level = <1>; //1->HIGH, 0->LOW
	//power-gpio = <&gpio0 GPIO_A6 GPIO_ACTIVE_HIGH>;
	reset-gpio = <&gpio2 GPIO_C6 GPIO_ACTIVE_LOW>;
};

&dwc_control_usb {
	usb_uart {
		status = "disabled";
	};
};

&pwm2 {
	status = "okay";
};

&i2c1 {
	status = "okay";
	rk805: rk805@18 {
		reg = <0x18>;
		status = "okay";
	};
};

&i2c2 {
	status = "okay";

	cx20810: cx20810@35 {
		compatible = "conexant,cx20810";
		reg = <0x35>;
		rockchip,reset-gpio = <&gpio0 GPIO_D4 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	is31fl3236: led-controller@3c {
		compatible = "issi,is31fl3236";
		reg = <0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		rockchip,num-sdb-gpio = <&gpio2 GPIO_C3 GPIO_ACTIVE_LOW>;
		status = "okay";

		led1: led@1 {
			label = "led1";
			reg = <1>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
			/*"none";*/
		};

		led2: led@2 {
			label = "led2";
			reg = <2>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led3: led@3 {
			label = "led3";
			reg = <3>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led4: led@4 {
			label = "led4";
			reg = <4>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led5: led@5 {
			label = "led5";
			reg = <5>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led6: led@6 {
			label = "led6";
			reg = <6>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led7: led@7 {
			label = "led7";
			reg = <7>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led8: led@8 {
			label = "led8";
			reg = <8>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led9: led@9 {
			label = "led9";
			reg = <9>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led10: led@10 {
			label = "led10";
			reg = <10>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led11: led@11 {
			label = "led11";
			reg = <11>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led12: led@12 {
			label = "led12";
			reg = <12>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led13: led@13 {
			label = "led13";
			reg = <13>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led14: led@14 {
			label = "led14";
			reg = <14>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led15: led@15 {
			label = "led15";
			reg = <15>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led16: led@16 {
			label = "led16";
			reg = <16>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led17: led@17 {
			label = "led17";
			reg = <17>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led18: led@18 {
			label = "led18";
			reg = <18>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led19: led@19 {
			label = "led19";
			reg = <19>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led20: led@20 {
			label = "led20";
			reg = <20>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led21: led@21 {
			label = "led21";
			reg = <21>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led22: led@22 {
			label = "led22";
			reg = <22>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led23: led@23 {
			label = "led23";
			reg = <23>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led124: led@24 {
			label = "led24";
			reg = <24>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led25: led@25 {
			label = "led25";
			reg = <25>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led26: led@26 {
			label = "led26";
			reg = <26>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led27: led@27 {
			label = "led27";
			reg = <27>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led28: led@28 {
			label = "led28";
			reg = <28>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led29: led@29 {
			label = "led29";
			reg = <29>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led30: led@30 {
			label = "led30";
			reg = <30>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led31: led@31 {
			label = "led31";
			reg = <31>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led32: led@32 {
			label = "led32";
			reg = <32>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led33: led@33 {
			label = "led33";
			reg = <33>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led34: led@34 {
			label = "led34";
			reg = <34>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led35: led@35 {
			label = "led35";
			reg = <35>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};

		led36: led@36 {
			label = "led36";
			reg = <36>;
			led-max-microamp = <10000>;
			linux,default-trigger = "none";
		};
	};
};

#include "rk805.dtsi"
&rk805 {
	gpios = <&gpio0 GPIO_B4 GPIO_ACTIVE_HIGH>,
		<&gpio0 GPIO_B5 GPIO_ACTIVE_LOW>;
	rk805,system-power-controller;
	rk805,support_dc_chg = <1>; /* 1: dc chg; 0: usb chg */

	rtc {
		status = "okay";
	};

	regulators {
		rk805_dcdc1_reg: regulator@0 {
			regulator-name = "vdd_arm";
			regulator-min-microvolt = <975000>;
			regulator-max-microvolt = <1300000>;
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
				regulator-state-uv = <975000>;
			};
		};

		rk805_dcdc2_reg: regulator@1 {
			regulator-name = "vcc_dummy";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
				regulator-state-uv = <1200000>;
			};
		};

		/*
		 * dcdc3 can't set by software, the voltage is
		 * decided by hardware.
		 */
		rk805_dcdc3_reg: regulator@2 {
			regulator-name = "vcc_ddr";
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
			};
		};

		rk805_dcdc4_reg: regulator@3 {
			regulator-name = "vcc_33";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
				regulator-state-uv = <3300000>;
			};
		};

		rk805_ldo1_reg: regulator@4 {
			regulator-name = "vcca_33";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-enabled;
				regulator-state-uv = <3300000>;
			};
		};

		rk805_ldo2_reg: regulator@5 {
			regulator-name = "vcc_18";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-enabled;
				regulator-state-uv = <1800000>;
			};
		};

		rk805_ldo3_reg: regulator@6 {
			regulator-name = "vdd10_pmu";
			regulator-min-microvolt = <1100000>;
			regulator-max-microvolt = <1100000>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-enabled;
				regulator-state-uv = <1100000>;
			};
		};
	};
};

&remotectl {
	handle_cpu_id = <1>;
	ir_key1{
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xba	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xbd	KEY_HOME>,
			<0xea	KEY_VOLUMEUP>,
			<0xe3	KEY_VOLUMEDOWN>,
			<0xe2	KEY_SEARCH>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xec	KEY_MENU>,
			<0xbf	0x190>,
			<0xe0	0x191>,
			<0xe1	0x192>,
			<0xe9	183>,
			<0xe6	248>,
			<0xe8	185>,
			<0xe7	186>,
			<0xf0	388>,
			<0xbe	0x175>;
	};
	ir_key2{
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_REPLY>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_VOLUMEDOWN>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xbe	KEY_SEARCH>;
	};
	ir_key3{
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};
};

&clk_core_dvfs_table {
	operating-points = <
		/* KHz    uV */
		408000 975000
		600000 975000
		816000 1100000
		1008000 1150000
	>;
	status = "okay";
};

&clk_ddr_dvfs_table {
	operating-points = <
		/* KHz    uV */
		396000 1000000
		528000 1150000
	>;
	status = "okay";
};

&clk_gpu_dvfs_table {
	operating-points = <
		/* KHz    uV */
		200000 975000
		400000 1100000
	>;
	status = "okay";
};
