/*
 * Device Tree Source for RK3288 SoC thermal on mickey
 *
 * Copyright (c) 2014, Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

&cpu_thermal {
	/delete-node/ trips;
	/delete-node/ cooling-maps;

	trips {
		cpu_alert0: cpu_alert0 {
			temperature = <65000>; /* millicelsius */
			hysteresis = <2000>; /* millicelsius */
			type = "passive";
		};
		cpu_alert1: cpu_alert1 {
			temperature = <80000>; /* millicelsius */
			hysteresis = <2000>; /* millicelsius */
			type = "passive";
		};
		cpu_crit: cpu_crit {
			temperature = <90000>; /* millicelsius */
			hysteresis = <2000>; /* millicelsius */
			type = "critical";
		};
	};

	cooling-maps {
		/*
		 * After 1st level, throttle the CPU down to as low as 1.2 GHz
		 * and don't let the GPU go faster than 400 MHz.  Note that we
		 * won't throttle the GPU lower than 400 MHz due to CPU
		 * heat--we'll let the GPU do the rest itself.
		 */
		map0 {
			trip = <&cpu_alert0>;
			cooling-device =
				<&cpu0 THERMAL_NO_LIMIT 5>;
		};
		map1 {
			trip = <&cpu_alert0>;
			cooling-device =
				<&gpu 1 1>;
		};

		/*
		 * When really hot, don't CPU us go _above_ 1.08 GHz and don't
		 * let the GPU go above 300 MHz; again, we'll let the GPU
		 * itself do more throttling.
		 */
		map2 {
			trip = <&cpu_alert1>;
			cooling-device =
				<&cpu0 6 THERMAL_NO_LIMIT>;
		};
		map3 {
			trip = <&cpu_alert1>;
			cooling-device =
				<&gpu 2 2>;
		};
	};
};

&gpu_thermal {
	/delete-node/ trips;
	/delete-node/ cooling-maps;

	trips {
		gpu_alert0: gpu_alert0 {
			temperature = <60000>; /* millicelsius */
			hysteresis = <2000>; /* millicelsius */
			type = "passive";
		};
		gpu_alert1: gpu_alert1 {
			temperature = <65000>; /* millicelsius */
			hysteresis = <2000>; /* millicelsius */
			type = "passive";
		};
		gpu_alert2: gpu_alert2 {
			temperature = <80000>; /* millicelsius */
			hysteresis = <2000>; /* millicelsius */
			type = "passive";
		};
		gpu_crit: gpu_crit {
			temperature = <90000>; /* millicelsius */
			hysteresis = <2000>; /* millicelsius */
			type = "critical";
		};
	};

	cooling-maps {
		/* After 1st level throttle the GPU down to as low as 400 MHz */
		map0 {
			trip = <&gpu_alert0>;
			cooling-device =
				<&gpu THERMAL_NO_LIMIT 1>;
		};

		/*
		 * Slightly after we throttle the GPU, we'll also make sure that
		 * the CPU can't go faster than 1.2 GHz.  Note that we won't
		 * throttle the CPU lower than 1.2 GHz due to GPU heat--we'll
		 * let the CPU do the rest itself.
		 */
		map1 {
			trip = <&gpu_alert1>;
			cooling-device =
				<&cpu0 5 5>;
		};

		/* When really hot, don't let GPU go _above_ 300 MHz */
		map2 {
			trip = <&gpu_alert2>;
			cooling-device =
				<&gpu 2 THERMAL_NO_LIMIT>;
		};
	};
};
