#include "lcd-box.dtsi"
#include <dt-bindings/input/input.h>

/ {
	chosen {
		bootargs = "vmalloc=496M psci=enable rockchip_jtag";
	};

	fiq-debugger {
		status = "okay";
	};
	wireless-wlan {
		compatible = "wlan-platdata";
		/* wifi_chip_type - wifi chip define
		* bcmwifi ==> like ap6xxx, rk90x;
		* rtkwifi ==> like rtl8188xx, rtl8723xx,rtl8812auv;
		* esp8089 ==> esp8089;
		* other   ==> for other wifi;
		*/
		wifi_chip_type = "ap6335";
		sdio_vref = <1800>;
		/* keep_wifi_power_on; */
		/* power_ctrl_by_pmu; */
		/* power_pmu_regulator = "act_ldo3"; */
		/* power_pmu_enable_level = <1>; */
		/* vref_ctrl_enable; */
		/* vref_ctrl_gpio = <&gpio0 GPIO_A2 GPIO_ACTIVE_HIGH>; */
		/* vref_pmu_regulator = "act_ldo3"; */
		/* vref_pmu_enable_level = <1>; */
		WIFI,poweren_gpio = <&gpio2 GPIO_D2 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio0 GPIO_D4 GPIO_ACTIVE_HIGH>;
		/* WIFI,reset_gpio = <&gpio0 GPIO_A2 GPIO_ACTIVE_LOW>; */
		status = "okay";
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		/* wifi-bt-power-toggle; */
		uart_rts_gpios = <&gpio3 GPIO_A6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default","rts_gpio";
		pinctrl-0 = <&uart11_rts>;
		pinctrl-1 = <&uart11_rts_gpio>;
		BT,power_gpio = <&gpio2 GPIO_D5 GPIO_ACTIVE_HIGH>;
		/* BT,reset_gpio = <&gpio2 GPIO_D5 GPIO_ACTIVE_HIGH>; */
		BT,wake_gpio = <&gpio3 GPIO_D3 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio3 GPIO_D2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
	io-domains {
		status = "okay";

		vccio1-supply = <&vccio_3v3_reg>;
		vccio2-supply = <&vccio_1v8_reg>;
		vccio4-supply = <&vccio_3v3_reg>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vccio_1v8_reg: regulator@0 {
			compatible = "regulator-fixed";
			regulator-name = "vccio_1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		vccio_3v3_reg: regulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "vccio_3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	pwm-regulator1  {
		compatible = "rockchip_pwm_regulator";
		pwms = <&pwm1 0 2000>;
		rockchip,pwm_id= <1>;
		rockchip,pwm_voltage_map= <950000 975000 1000000 1025000 1050000 1075000 1100000 1125000 1150000 1175000 1200000 1225000 1250000 1275000 1300000 1325000 1350000 1375000 1400000>;
		rockchip,pwm_voltage= <1100000>;
		rockchip,pwm_min_voltage= <950000>;
		rockchip,pwm_max_voltage= <1400000>;
		rockchip,pwm_suspend_voltage= <950000>;
		rockchip,pwm_coefficient= <450>;
		status = "okay";
		regulators {
			#address-cells = <1>;
			#size-cells = <0>;
			pwm_reg0: regulator@0 {
				regulator-compatible = "pwm_dcdc1";
				regulator-name= "vdd_arm";
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <1400000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};

	pwm-regulator2 {
		compatible = "rockchip_pwm_regulator";
		pwms = <&pwm2 0 25000>;
		rockchip,pwm_id= <2>;
		rockchip,pwm_voltage_map= <1000000 1025000 1050000 1075000 1100000 1125000 1150000 1175000 1200000 1225000 1250000 1275000 1300000>;
		rockchip,pwm_voltage= <1200000>;
		rockchip,pwm_min_voltage= <1000000>;
		rockchip,pwm_max_voltage= <1300000>;
		rockchip,pwm_suspend_voltage= <1250000>;
		rockchip,pwm_coefficient= <300>;
		status = "okay";
		regulators {
			#address-cells = <1>;
			#size-cells = <0>;
			pwm_reg1: regulator@1 {
				regulator-compatible = "pwm_dcdc2";
				regulator-name= "vdd_logic";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};

	usb_control {
		compatible = "rockchip,rk322x-usb-control";
		rockchip,remote_wakeup;
		rockchip,usb_irq_wakeup;
		host_drv_gpio = <&gpio3 GPIO_C4 GPIO_ACTIVE_LOW>;
		otg_drv_gpio = <&gpio3 GPIO_C6 GPIO_ACTIVE_LOW>;
	};

	rockchip_audio {
		compatible = "rockchip,rk322x-audio";
		dais {
			dai0 {
				audio-codec = <&codec>;
				audio-controller = <&i2s1>;
				format = "i2s";
			};
		};
	};

	rockchip_spdif_card {
		compatible = "rockchip-spdif-card";
		dais {
			dai0 {
				audio-codec = <&codec_spdif>;
				audio-controller = <&spdif>;
			};
		};
	};

	rockchip_hdmi_i2s {
		compatible = "rockchip-hdmi-i2s";
		dais {
			dai0 {
				audio-codec = <&codec_hdmi_i2s>;
				audio-controller = <&i2s0>;
				format = "i2s";
			};
		};
	};

	rockchip_nau8540 {
		status = "disabled";
		compatible = "rockchip,nau8540-audio";
		dais {
			dai0 {
				audio-codec = <&nau8540>;
				audio-controller = <&i2s1>;
				format = "i2s";
			};
		};
	};
};

&nandc {
	status = "okay"; //used nand set "okay" ,used emmc set "disabled"
};

&emmc {
	clock-frequency = <125000000>;
	clock-freq-min-max = <400000 125000000>;
	supports-highspeed;
	supports-emmc;
	bootpart-no-access;
	supports-DDR_MODE;
	caps2-mmc-hs200;
	ignore-pm-notify;
	keep-power-in-suspend;
	status = "okay";
};

&sdmmc {
	clock-frequency = <37500000>;
	clock-freq-min-max = <400000 37500000>;
	supports-highspeed;
	supports-sd;
	broken-cd;
	card-detect-delay = <200>;
	ignore-pm-notify;
	keep-power-in-suspend;
	power-inverted;
	status = "okay";
};

&sdio {
	clock-frequency = <37500000>;
	clock-freq-min-max = <200000 37500000>;
	supports-highspeed;
	supports-sdio;
	ignore-pm-notify;
	keep-power-in-suspend;
	cap-sdio-irq;
	status = "okay";
};

&uart1{
	status = "okay";
	dma-names = "!tx", "!rx";
	pinctrl-0 = <&uart11_xfer &uart11_cts>;
};

&i2c1 {
	status = "disabled";
	nau8540: nau8540@1c {
		compatible = "nuvoton,nau8540";
		reg = <0x1c>;
	};

	nau8540_aux: nau8540@1d {
		compatible = "nuvoton,nau8540";
		reg = <0x1d>;
	};
};

&i2s0 {
	status = "okay";
};

&i2s1 {
	status = "okay";
};

&spdif {
	status = "okay";
};

&codec {
	spk_depop_time = <200>;
	status = "okay";
};

&codec_spdif {
	status = "okay";
};

&codec_hdmi_i2s {
	status = "okay";
};

&spi0 {
	status = "disabled";
	max-freq = <48000000>;

	spi_test@00 {
		compatible = "rockchip,spi_test_bus0_cs0";
		reg = <0>;
		spi-max-frequency = <12000000>;
		//spi-cpha;
		//spi-cpol;
		poll_mode = <0>;
		type = <0>;
	};

	spi_test@01 {
		compatible = "rockchip,spi_test_bus0_cs1";
		reg = <1>;
		spi-max-frequency = <12000000>;
		spi-cpha;
		spi-cpol;
		poll_mode = <0>;
		type = <0>;
	};
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

/*
 * Due to not have the software of PWM for remotectrl.
 * We can _*HACK*_ do that as the following.
 */
&pwm3 {
	compatible = "rockchip,remotectl-pwm";
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	status = "okay";

	ir_key1{
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xba	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xbd	KEY_HOME>,
			<0xea	KEY_VOLUMEUP>,
			<0xe3	KEY_VOLUMEDOWN>,
			<0xe2	KEY_SEARCH>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xec	KEY_MENU>,
			<0xbf	0x190>,
			<0xe0	0x191>,
			<0xe1	0x192>,
			<0xe9	183>,
			<0xe6	248>,
			<0xe8	185>,
			<0xe7	186>,
			<0xf0	388>,
			<0xbe	0x175>;
	};
	ir_key2{
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_REPLY>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_VOLUMEDOWN>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xbe	KEY_SEARCH>;
	};
	ir_key3{
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};
};

&gmac_clkin {
        clock-frequency = <125000000>;
};

&gmac {
	/* pmu_regulator = "act_ldo5"; */
	/* power-gpio = <&gpio0 GPIO_A6 GPIO_ACTIVE_HIGH>; */
	/* reset-gpio = <&gpio2 GPIO_D0 GPIO_ACTIVE_LOW>; */
	/* phyirq-gpio = <&gpio0 GPIO_B1 GPIO_ACTIVE_LOW>; */
	/* control link LED */
	link-gpio = <&gpio2 GPIO_B6 GPIO_ACTIVE_HIGH>;
	led-gpio = <&gpio2 GPIO_B0 GPIO_ACTIVE_HIGH>;
	phy-mode = "rmii";
	pinctrl-names = "default";
	/* rmii_pins, rgmii_pins, phy_pins */
	pinctrl-0 = <&phy_pins>;
	clock_in_out = "output";
	tx_delay = <0x30>;
	rx_delay = <0x10>;
	/* internal or external */
	phy-type = "internal";
};

&disp_timings {
	native-mode = <&timing0>;
};

&rk_screen {
	display-timings = <&disp_timings>;
};

&fb {
	rockchip,disp-policy = <DISPLAY_POLICY_BOX>;
	rockchip,uboot-logo-on = <1>;
};

&hdmi {
	status = "okay";
	rockchip,phy_table =
		<165000000 0 0 4 4 4 4>,
		<225000000 0 0 6 6 6 6>,
		<340000000 1 0 6 10 10 10>,
		<594000000 1 0 7 10 10 10>;
};

&tve {
	status = "okay";
};

&watchdog {
	status = "disabled";
};

&clk_core_dvfs_table {
	operating-points = <
		/* KHz    uV */
		408000 950000
		600000 975000
		816000 1000000
		1008000 1175000
		1200000 1275000
//		1296000 1325000
//		1392000 1350000
		>;
	status = "okay";
};

&clk_gpu_dvfs_table {
	operating-points = <
		/* KHz    uV */
		200000 1050000
		300000 1050000
		500000 1150000
		>;
	status = "okay";
};

&clk_ddr_dvfs_table {
	operating-points = <
		/* KHz    uV */
		300000 1000000
		800000 1150000
		>;
	status = "okay";
};

&rockchip_suspend {
	rockchip,ctrbits = <
		(0
		 |RKPM_CTR_GTCLKS
		 |RKPM_CTR_PLLS
		 |RKPM_CTR_IDLESRAM_MD
		 |RKPM_CTR_VOL_PWM1
		 |RKPM_CTR_VOL_PWM2
		)
	>;
};
