/dts-v1/;

#include "rk3228b.dtsi"
#include "lcd-box.dtsi"
#include <dt-bindings/input/input.h>
#include "rk322x-sdk.dtsi"

/ {
};

&i2c0 {
	status = "okay";
	rtc@51 {
		compatible = "rtc,hym8563";
		reg = <0x51>;
		irq_gpio = <&gpio0 GPIO_A4 IRQ_TYPE_EDGE_FALLING>;
	};
};

