// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;
#include "rv1126-bat-evb-v10.dtsi"

/ {
	model = "Rockchip RV1126 BAT EVB V11 Board";
	compatible = "rockchip,rv1126-bat-evb-v11", "rockchip,rv1126";

	/delete-node/ i2s0-sound;

	es7202_sound: es7202-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "pdm";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,es7202-sound";
		simple-audio-card,cpu {
			sound-dai = <&pdm>;
		};
		simple-audio-card,codec {
			sound-dai = <&es7202>;
		};
	};

	rkacdc_dig_sound: rkacdc-dig-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,acdc-dig-sound";
		simple-audio-card,bitclock-master = <&sndcodec>;
		simple-audio-card,frame-master = <&sndcodec>;
		sndcpu: simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};
		sndcodec: simple-audio-card,codec {
			sound-dai = <&rkacdc_dig>;
		};
	};
};

&i2s0_8ch {
	status = "okay";
	#sound-dai-cells = <0>;
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
};

&i2c4 {
	status = "okay";
	pinctrl-0 = <&i2c4m0_xfer>;
	/delete-node/ es8311@18;

	es7202: es7202@30 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "ES7202_PDM_ADC_1";
		reg = <0x30>;
	};
};

&i2c5 {
	status = "disabled";
	/delete-node/ CW2015@62;
};

&rkacdc_dig {
	status = "okay";
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&auddsm_pins>;
	rockchip,pwm-output-mode;
	rockchip,clk-sync-mode;
	rockchip,pa-ctl-mdelay = <200>;
	pa-ctl-gpios = <&gpio2 RK_PA4 GPIO_ACTIVE_HIGH>;
};

&pdm {
	status = "okay";
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pdmm0_clk &pdmm0_sdi3>;
	rockchip,path-map = <3 0 1 2>;
};

&wireless_wlan {
	wifi_chip_type = "ap6203";
};
