/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "../../../arm/boot/dts/lcd-box.dtsi"
#include <dt-bindings/input/input.h>
/ {
	chosen {
		bootargs = "rockchip_jtag earlyprintk=uart8250-32bit,0xff130000 clk_ignore_unused";
	};

	fiq-debugger {
		status = "okay";
	};

	io-domains {
		status = "okay";

		vccio1-supply = <&rk805_dcdc4_reg>;
		vccio2-supply = <&rk805_ldo2_reg>;
		vccio3-supply = <&rk805_dcdc4_reg>;
		vccio4-supply = <&rk805_ldo1_reg>;
		vccio5-supply = <&rk805_dcdc4_reg>;
		vccio6-supply = <&rk805_dcdc4_reg>;
		pmuio-supply = <&rk805_dcdc4_reg>;
	};

	/* pmic_sleep */
	gpio_poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio2 GPIO_D2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	rockchip_audio {
		compatible = "rockchip,rk322xh-audio", "rockchip,rk322x-audio";
		dais {
			dai0 {
				audio-codec = <&codec>;
				audio-controller = <&i2s1>;
				format = "i2s";
			};
		};
	};

	rockchip_spdif_card {
		compatible = "rockchip-spdif-card";
		dais {
			dai0 {
				audio-codec = <&codec_spdif>;
				audio-controller = <&spdif>;
			};
		};
	};

	rockchip_hdmi_i2s {
		compatible = "rockchip-hdmi-i2s";
		dais {
			dai0 {
				audio-codec = <&codec_hdmi_i2s>;
				audio-controller = <&i2s0>;
				format = "i2s";
			};
		};
	};
};

&clk_core_dvfs_table {
	operating-points = <
		/* KHz    uV */
		408000 950000
		600000 950000
		816000 1025000
		1008000 1100000
		1200000 1200000
		>;
	status = "okay";
};

&i2s0 {
	status = "okay";
};

&i2s1 {
	status = "okay";
};

&spdif {
	status = "okay";
};

&codec {
	spk_depop_time = <100>;
	status = "okay";
};

&codec_spdif {
	status = "okay";
};

&codec_hdmi_i2s {
	status = "okay";
};

&hdmi {
	status = "okay";
	rockchip,phy_table =
		<100000000 0 0 5 8 8 8>,
		<165000000 8 13 5 8 8 8>,
		<340000000 40 13 5 13 13 13>;
};

&i2c1 {
	status = "okay";
	rk805: rk805@18 {
		reg = <0x18>;
		status = "okay";
	};
};

&emmc {
	clock-frequency = <125000000>;
	clock-freq-min-max = <400000 125000000>;
	supports-highspeed;
	supports-emmc;
	bootpart-no-access;
	supports-DDR_MODE;
	caps2-mmc-hs200;
	ignore-pm-notify;
	keep-power-in-suspend;
	status = "okay";
};

&sdmmc {
	clock-frequency = <37500000>;
	clock-freq-min-max = <400000 37500000>;
	supports-highspeed;
	supports-sd;
	broken-cd;
	card-detect-delay = <800>;
	ignore-pm-notify;
	keep-power-in-suspend;
	power-inverted;
	status = "disabled";
};

&sdmmc_ext {
	clock-frequency = <37500000>;
	clock-freq-min-max = <400000 37500000>;
	supports-highspeed;
	supports-sd;
	broken-cd;
	card-detect-delay = <800>;
	ignore-pm-notify;
	keep-power-in-suspend;
	power-inverted;
	status = "disabled";
};

&sdio {
	clock-frequency = <37500000>;
	clock-freq-min-max = <200000 37500000>;
	supports-highspeed;
	supports-sdio;
	ignore-pm-notify;
	keep-power-in-suspend;
	cap-sdio-irq;
	status = "okay";
};

&gmac_clkin {
	clock-frequency = <125000000>;
};

&gmac2io {
	/* pmu_regulator = "act_ldo5"; */
	/* power-gpio = <&gpio0 GPIO_A6 GPIO_ACTIVE_HIGH>; */
	reset-gpio = <&gpio3 GPIO_B0 GPIO_ACTIVE_LOW>;
	/* phyirq-gpio = <&gpio0 GPIO_B1 GPIO_ACTIVE_LOW>; */
	phy-mode = "rmii";
	pinctrl-names = "default";
	pinctrl-0 = <&rmiim1_pins>;
	clock_in_out = "output";
};

&gmac2phy {
	clock_in_out = "output";
	status = "okay";
};

&disp_timings {
	native-mode = <&timing0>;
};

&rk_screen {
	status = "okay";
	display-timings = <&disp_timings>;
};

&fb {
	status = "okay";
	rockchip,disp-policy = <DISPLAY_POLICY_BOX>;
	rockchip,uboot-logo-on = <0>;
};

&vop {
	status = "okay";
};

&dwc_control_usb {
	otg_drv_gpio = <&gpio0 GPIO_D3 GPIO_ACTIVE_LOW>;

	rockchip,remote_wakeup;
	rockchip,usb_irq_wakeup;

	status = "okay";
};

&u2phy {
	status = "okay";
};

&usb2_otg {
	status = "okay";
};

&usb_ehci {
	status = "okay";
};

&usb_ohci {
	status = "okay";
};

&usbdrd3 {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
};

#include "../../../arm/boot/dts/rk805.dtsi"
&rk805 {
	gpios = <&gpio2 GPIO_A6 GPIO_ACTIVE_HIGH>, <&gpio2 GPIO_D2 GPIO_ACTIVE_LOW>;
	rk805,system-power-controller;
	gpio-controller;
	#gpio-cells = <2>;

	regulators {
		rk805_dcdc1_reg: regulator@0 {
			regulator-name = "vdd_logic";
			regulator-min-microvolt = <700000>;
			regulator-max-microvolt = <1500000>;
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
				regulator-state-uv = <1000000>;
			};
		};

		rk805_dcdc2_reg: regulator@1 {
			regulator-name = "vdd_arm";
			regulator-min-microvolt = <700000>;
			regulator-max-microvolt = <1500000>;
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
				regulator-state-uv = <900000>;
			};
		};

		rk805_dcdc3_reg: regulator@2 {
			regulator-name = "vcc_ddr";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
				regulator-state-uv = <1200000>;
			};
		};

		rk805_dcdc4_reg: regulator@3 {
			regulator-name = "vcc_io";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-initial-mode = <0x1>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-mode = <0x2>;
				regulator-state-enabled;
				regulator-state-uv = <3300000>;
			};
		};

		rk805_ldo1_reg: regulator@4 {
			regulator-name = "vdd_18";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-enabled;
				regulator-state-uv = <1800000>;
			};
		};

		rk805_ldo2_reg: regulator@5 {
			regulator-name = "vcc_18emmc";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-enabled;
				regulator-state-uv = <1800000>;
			};
		};

		rk805_ldo3_reg: regulator@6 {
			regulator-name = "vdd_10";
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1000000>;
			regulator-initial-state = <3>;
			regulator-boot-on;
			regulator-always-on;
			regulator-state-mem {
				regulator-state-enabled;
				regulator-state-uv = <1000000>;
			};
		};
	};
};

&pwm3 {
	status = "okay";
	compatible = "rockchip,remotectl-pwm";
	remote_pwm_id = <3>;
	handle_cpu_id = <0>;

	ir_key1 {
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xba	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xbd	KEY_HOME>,
			<0xea	KEY_VOLUMEUP>,
			<0xe3	KEY_VOLUMEDOWN>,
			<0xe2	KEY_SEARCH>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xec	KEY_MENU>,
			<0xbf	0x190>,
			<0xe0	0x191>,
			<0xe1	0x192>,
			<0xe9	183>,
			<0xe6	248>,
			<0xe8	185>,
			<0xe7	186>,
			<0xf0	388>,
			<0xbe	0x175>;
	};

	ir_key2 {
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_REPLY>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_VOLUMEDOWN>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xbe	KEY_SEARCH>;
	};

	ir_key3 {
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};
};

&gpu {
	status = "okay";
};

&tve {
	status = "okay";
};
