#include <dt-bindings/input/input.h>
#include <dt-bindings/soc/tegra-pmc.h>
#include "tegra132.dtsi"
#include "tegra132-ryu-emc.dtsi"
#include "tegra132-ryu-gpio-default.dtsi"
#include "tegra132-ryu-pinmux.dtsi"

/ {
	compatible = "google,ryu", "nvidia,tegra132", "nvidia,tegra124";

	aliases {
		rtc0 = "/i2c@7000d000/palmas";
		rtc1 = "/rtc@7000e000";
	};

	memory {
		reg = <0x0 0x80000000 0x0 0x80000000>; /* XXX should be 4GiB */
	};

	serial@70006000 {
		status = "okay";
	};

	rtc {
		nvidia,pmc-wakeup = <&pmc
			PMC_WAKE_TYPE_EVENT 16 PMC_TRIGGER_TYPE_HIGH>;
	};

	host1x@50000000 {
		dsia: dsi@54300000 {
			status = "okay";

			secondary_panel: panel@0 {
				compatible = "jdi,lpm102a188a";

				reg = <0 0 0 0>;
			};
		};

		dsi@54400000 {
			status = "okay";
			nvidia,slave = <&dsia>;

			panel@0 {
				compatible = "jdi,lpm102a188a";

				reg = <0 0 0 0>;

				power-supply = <&pplcd_vdd>;
				ddi-supply = <&pp1800_lcdio>;

				enable-gpio = <&gpio TEGRA_GPIO(H, 5) GPIO_ACTIVE_HIGH>;
				reset-gpio = <&gpio TEGRA_GPIO(H, 3) GPIO_ACTIVE_LOW>;

				slave = <&secondary_panel>;
			};
		};
	};

	// I2C1 (GEN1_I2C)
	i2c@7000c000 {
		status = "okay";
		clock-frequency = <400000>;

		touchscreen: i2c-hid-dev@20 {
			compatible = "hid-over-i2c";
			reg = <0x20>;
			hid-descr-addr = <0x0020>;
			interrupt-parent = <&gpio>;
		};
	};

	// I2C2 (GEN2_I2C)
	i2c@7000c400 {
		status = "okay";
		clock-frequency = <400000>;

		ec: cros-ec@1e {
			compatible = "google,cros-ec-i2c";
			reg = <0x1e>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(J, 0) IRQ_TYPE_LEVEL_LOW>;
			wakeup-source;

			i2c_21: i2c-tunnel {
				compatible = "google,cros-ec-i2c-tunnel";
				#address-cells = <1>;
				#size-cells = <0>;

				google,remote-bus = <0>;

				battery: bq27742@55 {
					compatible = "ti,bq27742";
					reg = <0x55>;
					battery-name = "battery";
				};
			};
		};

		sh: cros-ec@1f {
			compatible = "google,cros-ec-i2c";
			reg = <0x1f>;
			devname = "cros_sh";

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(W, 2) IRQ_TYPE_LEVEL_LOW>;

			i2c_20: i2c-tunnel {
				compatible = "google,cros-ec-i2c-tunnel";
				#address-cells = <1>;
				#size-cells = <0>;

				google,remote-bus = <1>;

				compass: ak09912@c {
					compatible = "asahi-kasei,ak09912";
					reg = <0xc>;
				};

				als: si114x@5a {
					compatible = "sl,si114x";
					reg = <0x5a>;
				};
			};
		};
	};

	// I2C3 (CAM_I2C)
	i2c@7000c500 {
		status = "okay";
		clock-frequency = <400000>;

		trusted-platform-module {
			compatible = "infineon,slb9645tt";
			reg = <0x20>;
			powered-while-suspended;
		};
	};

	// I2C4 (HDMI_DDC)
	i2c@7000c700 {
		status = "okay";
		clock-frequency = <400000>;
	};

	// I2C5 (I2C_PMU, PWR_I2C)
	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;

		palmas: tps65913 {
			compatible = "ti,palmas";
			reg = <0x58>;
			interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_LOW>;
			nvidia,pmc-wakeup = <&pmc
				PMC_WAKE_TYPE_EVENT 18 PMC_TRIGGER_TYPE_LOW>;

			#interrupt-cells = <2>;
			interrupt-controller;

			ti,system-power-controller;

			palmas_gpio: gpio {
				compatible = "ti,palmas-gpio";
				gpio-controller;
				#gpio-cells = <2>;
			};

			rtc {
				compatible = "ti,palmas-rtc";
				interrupt-parent = <&palmas>;
				interrupts = <8 0>;
			};

			pinmux {
				compatible = "ti,tps65913-pinctrl";
				pinctrl-names = "default";
				pinctrl-0 = <&palmas_default>;

				palmas_default: pinmux {
					powergood {
						pins = "powergood";
						function = "powergood";
					};

					vac {
						pins = "vac";
						function = "vac";
					};

					camera_en {
						pins = "gpio4";
						function = "gpio";
					};

					clk_mdm_32k {
						pins = "gpio5";
						function = "clk32kgaudio";
					};

					lcd_en {
						pins = "gpio6";
						function = "gpio";
					};
				};
			};

#if 0
			palmas_extcon: extcon {
				compatible = "ti,palmas-usb";
				#extcon-cells = <1>;
				ti,wakeup;
				ti,enable-id-detection;
				ti,enable-vbus-detection;
			};

			power_pm {
				compatible = "ti,palmas-pm";
				system-pmic-power-off;
				system-pmic-power-reset;
			};

			palams_gpadc: gpadc {
				compatible = "ti,palmas-gpadc";
				interrupt-parent = <&palmas>;
				interrupts = <18 0
						  16 0
						  17 0>;
				#io-channel-cells = <1>;
			};
#endif

			clock {
				compatible = "ti,palmas-clk";

				clk32k_kg {
					ti,clock-boot-enable;
				};

				clk32k_kg_audio {
					ti,clock-boot-enable;
				};
			};

			pmic {
				compatible = "ti,tps65913-pmic", "ti,palmas-pmic";
#if 0
				ldo1-in-supply = <&palmas_smps6>;
				ldo2-in-supply = <&palmas_smps6>;
				ldo5-in-supply = <&palmas_smps8>;
				ldo6-in-supply = <&palmas_smps9>;
				ldo7-in-supply = <&palmas_smps9>;
				ldo9-in-supply = <&palmas_smps9>;
				ldoln-in-supply = <&palmas_smps10_out2>;
				// TODO: From nvidia
				// 1 Program LDOUSB_OUT to 2.8V
				// 2 LDOUSB should be switched LDOUSB_IN1
#endif

				regulators {
					vdd_cpu: smps123 {
						regulator-name = "vdd_cpu";
						regulator-min-microvolt = <750000>;
						regulator-max-microvolt = <1260000>;
						regulator-always-on;
						regulator-boot-on;
						ti,roof-floor = <1>;
					};

					smps457 {
						regulator-name = "vdd-gpu";
						regulator-min-microvolt = <750000>;
						regulator-max-microvolt = <1200000>;
						regulator-init-microvolt = <1000000>;
						// TODO: driver should enable as needed
						// regulator-always-on;
						// regulator-boot-on;
					};

					palmas_smps6: smps6 {
						regulator-name = "vdd_core";
						regulator-min-microvolt = <800000>;
						regulator-max-microvolt = <1150000>;
						regulator-always-on;
						regulator-boot-on;
						ti,roof-floor = <3>;
					};

					palmas_smps8: smps8 {
						regulator-name = "vdd-1v8";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
						regulator-always-on;
						regulator-boot-on;
					};

					palmas_smps10_out2: smps10_out2 {
						regulator-name = "vdd-out2-5v0";
						regulator-min-microvolt = <5000000>;
						regulator-max-microvolt = <5000000>;
						regulator-always-on;
						regulator-boot-on;
					};

					avdd_1v05_run: ldo1 {
						regulator-name = "avdd-pll";
						regulator-min-microvolt = <1050000>;
						regulator-max-microvolt = <1050000>;
						regulator-always-on;
						regulator-boot-on;
						ti,roof-floor = <3>;
					};

					vdd_1v05_run: ldo2 {
						regulator-name = "vdd-usb3";
						regulator-min-microvolt = <1050000>;
						regulator-max-microvolt = <1050000>;
					};

					ldo3 {
						regulator-name = "vdd-camera";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <1200000>;
					};

					ldo4 {
						regulator-name = "avdd-rear-camera";
						regulator-min-microvolt = <2800000>;
						regulator-max-microvolt = <2800000>;
					};

					palmas_ldo5: ldo5 {
						regulator-name = "avdd-dsi-csi";
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <1200000>;
					};

					ldo6 {
						regulator-name = "vdd-fuse";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
					};

					ldo7 {
						regulator-name = "avdd-front-camera";
						regulator-min-microvolt = <2800000>;
						regulator-max-microvolt = <2800000>;
					};

					ldo8 {
						regulator-name = "vdd-rtc";
						regulator-min-microvolt = <800000>;
						regulator-max-microvolt = <1150000>;
						regulator-always-on;
						regulator-boot-on;
					};

					palmas_ldousb: ldousb {
						regulator-name = "avdd-usb";
						regulator-always-on;
						regulator-boot-on;
					};

					regen1 {
						regulator-name = "regen1";
						regulator-always-on;
						regulator-boot-on;
					};
				};
			};
		};
	};

	// I2C6
	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;

		backlight: lp8557-backlight@2c {
			compatible = "ti,lp8557";
			reg = <0x2c>;

			power-supply = <&pplcd_vdd>;

			bl-name = "lp8557-backlight";
			dev-ctrl = /bits/ 8 <0x01>;
			init-brt = /bits/ 8 <0xFF>;

			/* Full scale current, 20mA */
			rom_11h {
				rom-addr = /bits/ 8 <0x11>;
				rom-val = /bits/ 8 <0x05>;
			};

			/* Frequency = 4.9kHz, magic undocumented val */
			rom_12h {
				rom-addr = /bits/ 8 <0x12>;
				rom-val = /bits/ 8 <0x29>;
			};

			/* Boost freq = 1MHz, BComp option = 1 */
			rom_13h {
				rom-addr = /bits/ 8 <0x13>;
				rom-val = /bits/ 8 <0x03>;
			};

			/* 4V OV, 6 output LED string enabled */
			rom_14h {
				rom-addr = /bits/ 8 <0x14>;
				rom-val = /bits/ 8 <0xbf>;
			};
		};

		rt5677: audio-codec@2d {
			compatible = "realtek,rt5677";
			reg = <0x2d>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(W, 3) IRQ_TYPE_EDGE_BOTH>;
			realtek,pow-ldo2-gpio = <&gpio TEGRA_GPIO(R, 2) GPIO_ACTIVE_HIGH>;
			realtek,in1-differential = "true";

			gpio-controller;
			#gpio-cells = <2>;
		};

		tmp451: temperature-sensor@4c {
			compatible = "ti,tmp451";
			reg = <0x4c>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(I, 6) IRQ_TYPE_LEVEL_LOW>;
			vcc-supply = <&palmas_smps8>;

			#thermal-sensor-cells = <1>;
		};
	};

	ahub@70300000 {
		i2s@70301100 {
			status = "okay";
		};
	};

	dfll@70040084 {
		vdd-cpu-supply = <&vdd_cpu>;
		nvidia,i2c-fs-rate = <400000>;
		status = "okay";
	};

	sdhci@700b0000 {
		#address-cells = <1>;
		#size-cells = <0>;

		card-reset-gpios = <&gpio TEGRA_GPIO(X, 7) GPIO_ACTIVE_LOW>;
		bus-width = <4>;
		no-1-8-v;
		non-removable;
		status = "okay";
		nvidia,host-off-card-on;
		keep-power-in-suspend;
		tap-delay = <0>;

		trim-delay = <0x2>;
		calib-3v3-offsets = <0x7676>;
		calib-1v8-offsets = <0x7676>;
		calib-1v8-offsets-uhs-modes = <0x3f>;
		max-frequency = <204000000>;

		nvidia,vmax = <1150>;
		nvidia,vmin = <950>;
		nvidia,t2t-vnom-slope = <25>;
		nvidia,t2t-vnom-int = <115933>;
		nvidia,t2t-vmax-slope = <25>;
		nvidia,t2t-vmax-int = <115933>;
		nvidia,t2t-vmin-slope = <47>;
		nvidia,t2t-vmin-int = <187224>;

		tuning-data@0 {
			compatible = "nvidia,sdhci-tuning-data";
			clock-frequency = <81600000>;
			nvidia,thole-vnom-slope = <2916>;
			nvidia,thole-vnom-int = <331143>;
			nvidia,thole-vmax-slope = <2916>;
			nvidia,thole-vmax-int = <331143>;
			nvidia,thole-vmin-slope = <1480>;
			nvidia,thole-vmin-int = <232373>;
		};
		tuning-data@1 {
			compatible = "nvidia,sdhci-tuning-data";
			clock-frequency = <136000000>;
			nvidia,thole-vnom-slope = <1554>;
			nvidia,thole-vnom-int = <167210>;
			nvidia,thole-vmax-slope = <1554>;
			nvidia,thole-vmax-int = <167210>;
			nvidia,thole-vmin-slope = <793>;
			nvidia,thole-vmin-int = <115672>;
		};
		tuning-data@2 {
			compatible = "nvidia,sdhci-tuning-data";
			clock-frequency = <204000000>;
			nvidia,thole-vnom-slope = <874>;
			nvidia,thole-vnom-int = <85243>;
			nvidia,thole-vmax-slope = <874>;
			nvidia,thole-vmax-int = <85243>;
			nvidia,thole-vmin-slope = <449>;
			nvidia,thole-vmin-int = <57321>;
		};
	};

	usb@0,70090000 {
		status = "okay";
		phys = <&padctl TEGRA_XUSB_PADCTL_UTMI_P0>, /* USB 2.0 to port */
		       <&padctl TEGRA_XUSB_PADCTL_UTMI_P2>, /* WWAN USB 2.0 */
		       <&padctl TEGRA_XUSB_PADCTL_USB3_P0>, /* 1st USB 3.0 */
		       <&padctl TEGRA_XUSB_PADCTL_USB3_P1>; /* 2nd USB 3.0 */
		phy-names = "utmi-0", "utmi-2", "usb3-0", "usb3-1";
		avddio-pex-supply = <&vdd_1v05_run>;
		dvddio-pex-supply = <&vdd_1v05_run>;
		avdd-usb-supply = <&vdd_3v3_reg>;
		avdd-pll-utmip-supply = <&palmas_smps8>;
		avdd-pll-erefe-supply = <&avdd_1v05_run>;
		avdd-pex-pll-supply = <&vdd_1v05_run>;
		hvdd-pex-supply = <&vdd_3v3_reg>;
		hvdd-pex-plle-supply = <&vdd_3v3_reg>;
	};

	padctl@0,7009f000 {
		pinctrl-0 = <&padctl_default>;
		pinctrl-1 = <&padctl_sleep>;
		pinctrl-names = "default", "sleep";

		vbus-2-supply = <&vdd_usb3_vbus>;
		nvidia,usb3-port-0-lane = <TEGRA_XUSB_PADCTL_PIN_PCIE_0>;
		nvidia,usb3-port-1-lane = <TEGRA_XUSB_PADCTL_PIN_SATA_0>;

		padctl_default: pinmux {
			otg {
				nvidia,lanes = "otg-0", "otg-1", "otg-2";
				nvidia,function = "xusb";
			};

			usb3p0 {
				nvidia,lanes = "pcie-0";
				nvidia,function = "usb3";
				nvidia,iddq = <0>;
				nvidia,usb2-port-num = <0>;
			};

			usb3p1 {
				nvidia,lanes = "sata-0";
				nvidia,function = "usb3";
				nvidia,iddq = <0>;
				nvidia,usb2-port-num = <0>;
			};
		};

		padctl_sleep: pinmux {
		};
	};

	sdhci@700b0600 {
		power-gpios = <&gpio TEGRA_GPIO(R, 0) GPIO_ACTIVE_HIGH>;
		bus-width = <8>;
		non-removable;
		status = "okay";

		trim-delay = <0x4>;
		ddr-trim-delay = <0x0>;
		calib-3v3-offsets = <0x0202>;
		calib-1v8-offsets = <0x0202>;
		calib-1v8-offsets-uhs-modes = <0x3f>;
		max-frequency = <200000000>;

		nvidia,vmax = <1150>;
		nvidia,vmin = <950>;
		nvidia,t2t-vnom-slope = <27>;
		nvidia,t2t-vnom-int = <118295>;
		nvidia,t2t-vmax-slope = <27>;
		nvidia,t2t-vmax-int = <118295>;
		nvidia,t2t-vmin-slope = <48>;
		nvidia,t2t-vmin-int = <188148>;

		tuning-data@0 {
			compatible = "nvidia,sdhci-tuning-data";
			clock-frequency = <81600000>;
			nvidia,thole-vnom-slope = <3090>;
			nvidia,thole-vnom-int = <351666>;
			nvidia,thole-vmax-slope = <3090>;
			nvidia,thole-vmax-int = <351666>;
			nvidia,thole-vmin-slope = <1583>;
			nvidia,thole-vmin-int = <247913>;
		};
		tuning-data@1 {
			compatible = "nvidia,sdhci-tuning-data";
			clock-frequency = <136000000>;
			nvidia,thole-vnom-slope = <1703>;
			nvidia,thole-vnom-int = <186307>;
			nvidia,thole-vmax-slope = <1703>;
			nvidia,thole-vmax-int = <186307>;
			nvidia,thole-vmin-slope = <890>;
			nvidia,thole-vmin-int = <130617>;
		};
		tuning-data@2 {
			compatible = "nvidia,sdhci-tuning-data";
			clock-frequency = <200000000>;
			nvidia,thole-vnom-slope = <1037>;
			nvidia,thole-vnom-int = <106934>;
			nvidia,thole-vmax-slope = <1037>;
			nvidia,thole-vmax-int = <106934>;
			nvidia,thole-vmin-slope = <558>;
			nvidia,thole-vmin-int = <74315>;
		};
	};

	spi@7000da00 {
		status = "okay";
		spidev@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <25000000>;
		};
	};

	pmc@7000e400 {
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <0>;
		#wake-cells = <3>;
		nvidia,cpu-pwr-good-time = <500>;
		nvidia,cpu-pwr-off-time = <300>;
		nvidia,core-pwr-good-time = <641 3845>;
		nvidia,core-pwr-off-time = <61036>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;

		i2c-thermtrip {
			nvidia,pmu = <&palmas>;
			nvidia,reg-addr = <0xa0>;
			nvidia,reg-data = <0x0>;
		};
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk32k_in: clock@0 {
			compatible = "fixed-clock";
			reg=<0>;
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		power {
			label = "Power";
			linux,code = <KEY_POWER>;
			debounce-interval = <30>;
			gpio-key,wakeup;
			nvidia,pmc-wakeup = <&pmc
				PMC_WAKE_TYPE_GPIO 51 PMC_TRIGGER_TYPE_NONE>;
		};

		lid {
			label = "Lid";
			gpios = <&gpio TEGRA_GPIO(O, 4) GPIO_ACTIVE_LOW>;
			linux,input-type = <5>; /* EV_SW */
			linux,code = <0>; /* SW_LID */
			gpio-key,wakeup;
			nvidia,pmc-wakeup = <&pmc
				PMC_WAKE_TYPE_GPIO 32 PMC_TRIGGER_TYPE_NONE>;
		};

		dock {
			label = "Dock";
			gpios = <&gpio TEGRA_GPIO(V, 2) GPIO_ACTIVE_LOW>;
			linux,input-type = <5>; /* EV_SW */
			linux,code = <5>; /* SW_DOCK */
			gpio-key,wakeup;
			nvidia,pmc-wakeup = <&pmc
				PMC_WAKE_TYPE_GPIO 56 PMC_TRIGGER_TYPE_NONE>;
		};

		volume_down {
			label = "Volume Down";
			gpios = <&gpio TEGRA_GPIO(Q, 6) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			gpio-key,wakeup;
		};

		volume_up {
			label = "Volume Up";
			gpios = <&gpio TEGRA_GPIO(Q, 7) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			gpio-key,wakeup;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		floating: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "floating";
		};

		vdd_3v3_reg: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "vdd_3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			enable-active-high;
			// gpio = <&as3722 1 GPIO_ACTIVE_HIGH>;
		};

		vdd_mux: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "+VDD_MUX";
			regulator-min-microvolt = <19000000>;
			regulator-max-microvolt = <19000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0_sys: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "+5V_SYS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_mux>;
		};

		vdd_usb3_vbus: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			regulator-name = "+5V_USB_HS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_5v0_sys>;
		};

		fixed-regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "pplcd-vdd";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			enable-active-high;
			regulator-boot-on;
		};

		pp1800_lcdio: fixed-regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "pp1800-lcdio";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			enable-active-high;
			gpio = <&gpio TEGRA_GPIO(X, 0) GPIO_ACTIVE_HIGH>;
			regulator-boot-on;
		};
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio TEGRA_GPIO(I, 5) GPIO_ACTIVE_LOW>;
		priority = /bits/ 8 <200>;
	};

	sound {
		compatible = "nvidia,tegra-audio-rt5677-ryu",
		        "nvidia,tegra-audio-rt5677";
		nvidia,model = "NVIDIA Tegra Ryu";

		nvidia,audio-routing =
			"Headphone", "LOUT2",
			"Headphone", "LOUT1",
			"Headset Mic", "MICBIAS1",
			"IN1P", "Headset Mic",
			"IN1N", "Headset Mic",
			"DMIC L1", "Internal Mic 1",
			"DMIC R1", "Internal Mic 1",
			"DMIC L2", "Internal Mic 2",
			"DMIC R2", "Internal Mic 2",
			"Speaker", "PDM1L",
			"Speaker", "PDM1R";

		nvidia,i2s-controller = <&tegra_i2s1>;
		nvidia,audio-codec = <&rt5677>;

		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(R, 7) GPIO_ACTIVE_HIGH>;
		nvidia,mic-present-gpios = <&gpio TEGRA_GPIO(O, 5) GPIO_ACTIVE_LOW>;
		nvidia,hp-en-gpios = <&rt5677 1 GPIO_ACTIVE_HIGH>;
		nvidia,dmic-clk-en-gpios = <&rt5677 2 GPIO_ACTIVE_HIGH>;

		clocks = <&tegra_car TEGRA124_CLK_PLL_A>,
		         <&tegra_car TEGRA124_CLK_PLL_A_OUT0>,
		         <&tegra_car TEGRA124_CLK_EXTERN1>;
		clock-names = "pll_a", "pll_a_out0", "mclk";
	};

	soctherm: soctherm@0,700e2000 {
		throttle-cfgs {
			/* Voltage compartor NCS2202 connect to OC1 */
			oc1 {
				alarm-filter = <5100000>;
				alarm-cnt-threshold = <100>;
				polarity = <1>; /* ACTIVE_LOW */
				priority = <70>;
				cpu-throt-level = <TEGRA_SOCTHERM_THROT_LEVEL_MED>;
			};

			/* Battery charger BQ24773 PROCHOT connect to OC4 */
			oc4 {
				alarm-filter = <5100000>;
				alarm-cnt-threshold = <15>;
				polarity = <1>; /* ACTIVE_LOW */
				priority = <50>;
				cpu-throt-level = <TEGRA_SOCTHERM_THROT_LEVEL_LOW>;
			};
		};
	};

	cpu_edp: cpu_edp {
		compatible = "nvidia,tegra132-cpu-edp";
		nvidia,edp-limit = <15000>;
	};

	cpu_edp_cap: cpu_edp_cdev_cap {
		compatible = "nvidia,tegra132-cpu-edp-cdev-action";
		act-dev = <&cpu_edp>;
		cdev-type = "CPU-EDP-cap";

		#cooling-cells = <2>; /* min followed by max */
	};
};
